@page{
	width: 210mm;
	height: 297mm;
	margin:5mm 5mm 10mm 5mm;
	zoom: 0.75;
}
html.page body{
	background-color: white;
	font-family: 'freesans', monospace;
}
.page #wrapper{
	font-size: 16pt;
	line-height: 1.2;
	width: 200mm;
	margin:6em 10mm 3em 10mm;
	background-color: transparent;
}
.page div.input-element{
	position: relative;
	width: 90mm;
	margin-right:10px;
	display: inline-block;
	vertical-align: top;
}
.page h2.exercise{
	display: none;
}
.page .writing-options{
	height: auto;
	min-height: 50mm;
	margin-bottom:10mm;
}
#refreshInline, small.refresh{
	display: none;
}
.page #note{
	position: fixed;
	bottom:10mm;
	left:10mm;
}
br{
	line-height: 19px;
}
.page small{
	font-family: monospace;
	font-size: 11px;
	line-height: 1.0;
}
	.page small#header{
		top:-2.5mm;
	}
.page .parameter table{
	display: block;
}
