body{
	font-family: 'FreeSans', sans-serif;
	font-size: 72px;
	overflow-x:hidden;
	/*background-color: rgba(230,230,230,1);*/
}

/* general elements */

#container{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

/*header*/
#header{
	position: fixed;
	left: 0px;
	top:0px;
	height: 50px;
	padding:3px 10px;
	font-size: 14px;
	/*background-color: rgba(230,230,230,1);*/
	z-index: 100;
}
	#header .inline{
		display: inline-block;
		vertical-align: top;
		padding-right: 30px;
	}
	#title, #author, #licence{
	}
	.tag{
		font-weight: bold;
		vertical-align: top;
	}

/*content*/

#wrapper{
	position: absolute;
	width: calc(100% - 20px);
	left:0px;
	top:50px;
	margin:10px;
	padding:20px 0px;
	vertical-align: top;
}
.outputword{
	position: relative;
	display: inline-block;
}
.metadata{
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	font-size: 14px;
	line-height: 16px;
}

/* details */

.popup-button{
	text-decoration: underline;
	padding:5px 0px;
	margin:0px;
}
	.popup-button:hover{
		cursor: pointer;
	}
.popup{
	display: none;
	position: fixed;
	width: 80%;
	height: 80%;
	top:9%;
	left:10%;
	/*padding: 10px 10px 10px 10px;*/
	background-color: white;
	box-shadow: 0px 0px 50px rgba(0,0,0,.6);
	z-index: 100;
}
	div.popup-wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		top:-15px;
		padding:0px;
		margin:0px;		
	}
		.button-wrapper{
			position: fixed;
			width: 80%;
			height: 50px;
			/*left:0px;*/
			/*top:0px;*/
			background-color: blue;
			color:white;
		}
			.button-wrapper .include-word, .button-wrapper .close-popup{
				position: absolute;
				width: 50%;
				margin:10px;
			}
				.button-wrapper .close-popup{
				 	float: right;
				 	right: 0px;
				 	text-align: right;
				}
				.include-word:hover, .close-popup:hover{
					cursor: pointer;
				}
		div.popup-wrapper div.result{
			position: relative;
			height: calc(100% - 45px);
			margin:10px 0px 10px 10px;
			top:50px;
			overflow-y: auto; 
		}
		div.popup-wrapper div.sentence{
			margin-bottom:10px;
		}
	.show{
		z-index: 110;
	}
	.show:hover{
		cursor: pointer;
	}

/* general elements*/

h1, h2, h3{
	font-size: 26px;
	margin:0px 0px 10px 0px;
	color:blue;
}
hr{
	border:0;
	border-bottom:2px solid black;
	-moz-page-break-after:always;
	page-break-after:always;
}
small{
	font-size: 14px;
}
a, a:visited, a:active{
	color:black;
	text-decoration: underline;
}

@font-face{
	font-family: 'FreeSans';
	src:url('../output/FreeSans/FreeSans.otf');
}