body{
	font-family: 'FreeSans', sans-serif;
	font-size: 26px;
	overflow-x:hidden;
}
img.loading_img{
	display:none;
	height: 25px;
	width: auto;
	vertical-align: middle;
}
	img.loading_img.loading{
		display:inline-block;
	}

/* general elements */

#container{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}
#wrapper{
	position: absolute;
	width: calc(100% - 0px);
	left:0px;
	top:0px;
	margin:0px;
	padding:20px 0px;
	background-color: rgba(230,230,230,1);
}

div.step{
	padding:25px 0px 0px 0px;
}
	div.step:first-of-type{
		margin-top:0px;
	}
	div.step:last-of-type{
		margin-bottom:50px;
	}
div.step .content{
	border-top: 1px solid blue;
	margin:20px 20px 0;
	padding:20px 10px 0;
}

.opposition{
	display: inline-block;
	width: calc(50% - 8px);
	height: 100px;
	margin:20px 0px 0px 0px;
	color:white;
	font-size: 2.5em;
	/*background-color: red;*/
}
	.opposition.right{
		float: right;
		text-align: right;
		/*background-color: lime;*/
	}
	.opposition.fullwidth{
		display: block;
		width: calc(100% - 0px);
		background-color: black;
	}
	.opposition.fullwidth.right{
		float: none;
		background-color: white;
	}

/* header */

.top{
	position: fixed;
	right: 0px;
	top:0px;
	height: 20px;
	padding:3px 10px;
	font-size: 14px;
	background-color: rgba(230,230,230,1);
	z-index: 100;
}
	.top#title{
		left:0px;
	}
	.top#restart{
		background-color: black;
		color:white;
	}
	.top#refresh{
		background-color: black;
		color:white;
		right:70px;
	}
	.top#restart:hover, .top#refresh:hover{
		cursor: pointer;
		opacity: 0.5;
	}
#nav{
	background-color: white;
	width: calc(100% - 20px);
	top:25px;
}
	.navitem{
		color:blue;
		text-decoration: underline;
	}
		.navitem:hover{
			cursor: pointer;
		}


/*intro*/

#title-img{
	width: 100%;
}
	#title-img img{
		max-width: 100%;
		/*mix-blend-mode: multiply;*/
	}

/* details */
#details input{
	width: 300px;
	display: inline-block;
	margin:12px 0;
}
#details input[type="radio"]{
	width: auto;
	margin:12px 0;
}
.popup-button{
	text-decoration: underline;
	padding:5px 0px;
	margin:0px;
}
	/*for the gradual lens*/
	span.space:after{
		content:" ";
	}
.popup-button:hover{
	cursor: pointer;
}
.popup{
	display: none;
	position: fixed;
	width: 80%;
	height: 80%;
	top:9%;
	left:10%;
	/*padding: 10px 10px 10px 10px;*/
	background-color: white;
	box-shadow: 0px 0px 50px rgba(0,0,0,.6);
	z-index: 100;
}
	div.popup-wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		top:-15px;
		padding:0px;
		margin:0px;		
	}
		.button-wrapper{
			position: fixed;
			width: 80%;
			height: 50px;
			/*left:0px;*/
			/*top:0px;*/
			background-color: blue;
			color:white;
		}
			.button-wrapper .include-word, .button-wrapper .close-popup{
				position: absolute;
				width: 50%;
				margin:10px;
			}
				.button-wrapper .close-popup{
				 	float: right;
				 	right: 0px;
				 	text-align: right;
				}
				.include-word:hover, .close-popup:hover{
					cursor: pointer;
				}
		div.popup-wrapper div.result{
			position: relative;
			height: calc(100% - 45px);
			margin:10px 0px 10px 10px;
			top:50px;
			overflow-y: auto; 
		}
		div.popup-wrapper div.sentence{
			margin-bottom:10px;
		}
	.show{
		z-index: 110;
	}
	.show:hover{
		cursor: pointer;
	}

/* writing excercise */
.writing-options{
	position: relative;
	width: calc(100% - 0px);
	height: 250px;
	margin:20px 0px 0px 0px;
	padding:0px 0px;
	overflow-y: auto; 
	overflow-x: hidden; 
}
	.writing-options .option{
		position: relative;
		display: inline-block;
		line-height: 10px;
		margin:0px 0px 5px 0px;
		color:blue;
		text-decoration: underline;
	}
		.writing-options .option:hover{
			cursor: pointer;
			color:blue;
		}
.output-wrapper{
	position: relative;
	width: calc(100% - 20px);
	height: 300px;
	margin:0px 0px 0px 0px;
	padding: 10px;
	background-color: white;
	overflow-y: auto; 
	overflow-x: hidden; 
}
#writing-output-a, #writing-output-b{
	position: relative;
	width: 100%;
	background-color: white;
}
	#writing-output-a span, #writing-output-b span{
		padding-right: 0px;
	}
	code{
		font-family: "FreeSans";
		font-size:26px;
		color:black;
	}
	.outputword{
		color:blue;
	}
	.sum-wrapper{
		max-width: 100%;
		height: 35px;
		overflow: hidden;
	}
		#sum-a, #sum-b{
			display: none;
			position: relative;
			width: 100%;
			margin-top:10px;
			font-size: 14px;
			line-height: 16px;
		}
			.sum-wrapper span{
				display: inline-block;
			}
	#refreshInline{
		background-color: black;
		color:white;
		width: 45px;
		height: 20px;
		padding:3px 10px;
		font-size: 14px;
	}
		#refreshInline:hover{
			cursor: pointer;
			opacity: 0.5;
		}
#pdfs{
	position: relative;
	width: calc(100% - 20px);
	margin:20px auto;
	border-top:52px solid blue;
	border-bottom:52px solid blue;
	padding:50px 10px;
	text-align: center;
}

/* form elements */

div.input-element{
	display: inline-block;
	width: calc(50% - 3px);
	vertical-align: top;
	margin-left:-2px;
	margin-top:20px;
}
	div.input-element.right{
		float: right;
		margin-right: -3px;
	}

input, label, button{
	display: inline-block;
	width: auto;
}
	input, button#printlens{
		margin:5px 0px;
	}
	input[type="radio"], label.terms{
		display: inline-block;
		width: auto;
		padding-right: 10px;
	}
	input:hover, button:hover{
		cursor: pointer;
	}
textarea{
	display: inline-block;
	width: calc(100% - 10px);
	min-height: 400px;
}
	textarea#a_text{
		/*color:black;*/
		/*background-color: white;*/
	}
	textarea#b_text{
		/*color:white;*/
		/*background-color: black;*/
	}
	#stopwords textarea{
		min-height: 500px;
	}

#printlens:hover{
	cursor: pointer;
}

.inline-element{
	width: 250px;
	display: inline-block;
	vertical-align: top;
	line-height: 14px;
	margin:0px 10px 0px 0px;
}
	.inline-element:last-of-type{
		display: block;
	}

.emptyresults{
	margin:40px 0px 20px 0px;
	color:blue;
}

/* general elements*/

.a{
	/*color:black;*/
	/*background-color: white*/
}
.b{
	/*color:white;*/
	/*background-color: black;*/
}
.result{
	display: block;
	margin:0px 0px 20px 0px;
}

h1, h2, h3{
	font-size: 26px;
	margin:0px 0px 10px 0px;
	color:blue;
}
hr{
	border:0;
	/*border-bottom:1px solid blue;*/
}
small{
	font-size: 14px;
}
a, a:visited, a:active{
	color:blue;
	text-decoration: underline;
}

@font-face{
	font-family: 'FreeSans';
	src:url('../fonts/FreeSans/FreeSans.otf');
}