@page{
	margin:0;
	padding:0;
}
html.page body{
	width: 260mm;
	margin:0;
	padding:0;
	/*border:1px dotted red;*/
}
html.page #wrapper{
	position: relative;
	width: 85mm;
	height: 370mm;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	padding:0;
	top:0;
	/*border:1px dotted red;*/
}
	html.page #wrapper.first, html.page #wrapper.third{
		margin:0 0 0 40mm;
	}
	html.page #wrapper.second, html.page #wrapper.fourth{
		margin:0 0 0 45.5mm;
	}
html.page #header{
	position: absolute;
	top:0;
	left:135mm;
	width: 30mm;
	height: auto;
	margin:0;
	padding:0;
	/*border:1px dotted red;*/
}
html.page #wrapper .pagenumber{
	position: absolute;
	bottom:0;
}


/* fontsizes */
html.page #header, html.page div.type b, html.page .result-info .rate, html.page .result-info .overlap, html.page .features-overview, html.page .pagenumber{
	font-family: monospace;
	font-size: 8pt;
	line-height: 1.4;
}
html.page div.type{
	line-height: 0.5;
}
html.page .feature, html.page #header em{
	font-family: "computermodern";
	font-size: 12pt;
	line-height: 1.0;
}
html.page #sentence1, html.page #sentence2{
	font-size: 18pt;
	line-height: 1.25;
}

/* results */
html.page .result{
	margin:0;
	padding:0;
	border:0;
}
html.page #sentences{
	margin:0 auto 10mm auto;
}
	html.page #sentence1, html.page #sentence2{
		margin:0 -5mm 0 0;
	}
	html.page #sentence2{
		margin-top:5mm;
	}
html.page b{
	font-weight:normal;
	margin:0;
	padding:0;
}

/* info */
html.page .overlap{
	margin-top:1mm;
}
html.page .features-overview{
	display: none;
}