body{
	font-weight: normal;
	font-family: "texgyreschola-regular", Georgia, sans-serif;
	letter-spacing: 0.02em;
	line-height: 1.5;
	background-color: rgba(240,240,240,1);
}
h1{
	font-size: 100%;
	font-weight: bold;
	margin:0 0 1em 0;
}
h2{
	font-size: 100%;
	font-weight: normal;
	text-decoration: underline;
	margin:0 0 1em 0;
}
	h2#sorted, h2#parameters{
		page-break-before: always;
	}
#wrapper{
	position: relative;
	width: 85%;
	margin:0 auto 2em auto;
	font-size: 22px;
	line-height: 1.7;
}
textarea{
	margin:0 0 10px 0;
	width: 100%;
}
#parameters{
	margin:0 auto;
}
	#parametersPDF{
		display: none;
	}
.parameter{
	padding-left:30px;
}
	small.toggle:hover{
		cursor: pointer;
		opacity: 0.5;
	}
	table, div.table{
		/*display: none;*/
		max-width: 100%;
		margin:0 0 20px 0;
		padding-left:30px;
	}
		td.key, div.column.key{
			width: 50px;
			padding-right: 10px;
			vertical-align: top;
			display: inline-block;
		}
		div.table div.column.words{
			width: calc(100% - 100px);
			display: inline-block;
			min-height: 52.2px;
		}
		div.table div.column.word{
			display: inline;
		}
		td, div.column{
			word-wrap:break-word;
		}
input{
	min-width: 220px;
}
	input[type='submit']{
		min-width: 0;
	}
	input[type='text']{
		margin:0 0 10px 0;
		padding:10px;
		border:0;
		display: inline;
	}
	textarea{
		padding:10px;
		border:0;
	}
hr{
	margin:10px 0;
}
#results{
	text-align: left;
	margin-top:70px;
}
#export{
	line-height: 2.5;
}
small{
	line-height: 1;
}
img.loading{
	height: 25px;
	vertical-align: middle;
	padding-left:5px;
	display: none;
}

/* WEASYPRINT styles for PDF export */
@page{
	width: 210mm;
	height: 297mm;
	margin:5mm 5mm 10mm 5mm;
	zoom: 0.75;
}
html.page body{
	background-color: white;
	font-family: 'texgyreschola-regular', monospace;
}
.page #parameters{
	font-size: 10pt;
	line-height: 13pt;
	width: 100%;
	margin:2em auto 2em auto;
}
	.page #parameters .key{
		width: 50px;
		display: inline-block;
	}
	.page #parameters .words{
		position: relative;
		max-width: 175mm;
		margin:0;
		display: inline-block;
	}
	.page #parameters .words div.word{
		position: relative;
		display: inline-block;
		padding:5px 10px;
		margin:5px;
		min-width: 150px;
		min-height: 0;
	}
	.page #parameters button{
		display:none;
	}
.page #wrapper{
	font-size: 16pt;
	line-height: 21.5pt;
	width: 200mm;
	margin:3em auto 3em auto;
	-moz-columns:2 auto;
	-moz-column-gap:5mm;
	columns:2 auto;
	column-gap:5mm;
}
	.page #wrapper h1, .page #wrapper h2{
		margin:0 0 24.9px 0;
	}
br{
	line-height: 19px;
}
.page small{
	font-family: monospace;
	font-size: 11px;
	line-height: 24.9px;
}
	.page small#header{
		top:-2.5mm;
	}
.page .parameter table{
	display: block;
}
