@page{
	width: 210mm;
	height: 297mm;
	margin:2mm 5mm 5mm 5mm;
	zoom:1;
}
html.page body{
	width: 100%;
}
html.page #wrapper{
	width: 100%;
	margin:0 auto;
	left:0px;
}
html.page #header{
	margin:0;
	padding:0;
}

/* fontsizes */
html.page #header, html.page b, html.page .result-info .rate, html.page .result-info .overlap{
	font-family: monospace;
	font-size: 8pt;
	line-height: 1.4;
}
html.page .feature{
	font-family: "computermodern";
	font-size: 12pt;
	line-height: 1.0;
}
html.page #sentence1, html.page #sentence2{
	font-size: 75%;
	line-height: 1.25;
}

/* results */
html.page .result{
	margin:0;
	padding:0;
	border:0;
	width: calc(50% - 3mm);
	height: 173mm;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
html.page #sentences{
	margin:0.5mm 0 5mm 9mm;
}
	html.page #sentence1, html.page #sentence2{
		margin:0 -5mm 0 0;
	}
	html.page #sentence2{
		margin-top:5mm;
	}
html.page b{
	font-weight:normal;
	margin:0;
	padding:0;
}

/* info */
html.page .overlap{
	margin-top:1mm;
}
html.page .features-overview{
	display: none;
}