@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmuntt.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmunit.ttf');
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmuntb.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmuntx.ttf');
	font-weight: bold;
	font-style: italic;
}


body{
	font-family: 'computermodern', sans-serif;
	font-size: 18pt;
	line-height: 1.6;
	min-width: 880px;
	margin:0;
	padding:0;
}
.wrapper{
	position: relative;
	width: 100%;
	width: 800px;
	top:0;
	left:0;
	margin:0 auto;
	padding:0;
}
.returned-values-wrapper{
	position: relative;
	width: calc(100% - 0px);
	top:0;
	left:0;
	background-color: rgba(230,230,0,0.4);
	padding:30px 0 40px 0;
	margin:0 auto 30px auto;
}
	.returned-values-container{
		width: 800px;
		margin:0 auto;
		padding:0;
	}
	.returned-values-container h1{
		margin-top:0px;
	}
	#corpus{
		margin-top:20px;
	}
#results{
	width: 100%;
}

.fullwidth{
	width: calc(100% - 7px);
}
.left, .right {
	width: calc(50% - 10px);
	display: inline-block;
	vertical-align: top;
}

/* ****************************************************************************** */
/* general elements */
/* ****************************************************************************** */
h1{
	font-size: 100%;
	font-weight: normal;
	text-decoration: underline;
	margin:30px 0 20px 0;
}
h2{
	font-size: 100%;
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	margin:40px 0 0 0;
}
h1#title{
	margin:0 0 80px 0;
	padding-top:0;
	line-height: 32px;
	font-weight: bold;
	text-decoration: none;
}
small, sup{
	font-size: 12px;
}
textarea, input{
	margin:5px 0;
}
hr{
	border:0;
	border-bottom: 1px solid black;
	margin:40px 0 10px 0;
}
input[type='submit']{
	margin:30px 0 40px 0;
}
input[type='text']{
	width: 250px;
}
input[type='text'].input-sentence{
	width: 560px;
}


/* ****************************************************************************** */
/* cosine similarity */
/* ****************************************************************************** */

/* matrix */
#matrix{
	position: relative;
	width: 100%;
	overflow-x:scroll; 
}

/* corpus */
#corpus{
	font-size: 75%;
	line-height: 1.3;
}
.linenr{
	display: inline-block;
	font-family: monospace;
	font-size: 12px;
	width: 50px;
	font-weight: normal;
	vertical-align: top;
	padding-top:3px;
}
.sentence{
	width: calc(100% - 70px);
	display: inline-block;
	margin: 0 0 10px 0;
}

/* results */
.result{
	margin:0 0 40px 0;
	padding:0;
}
	.result:last-of-type{
		margin-bottom: 0;
	}
div#sentences{
	width: 80%;
	margin:30px auto;
}
	div#sentences textarea{
		font-size: 32px;
		font-family: sans-serif;
	}
	div#sentence1, div#sentence2{
		font-size: 32px;
	}
	div#sentence2{
		margin-top:25.2px;
	}
.result-info{
	font-size: 12pt;
}
	.result-info .overlap, .result-info .features-overview{
		margin-top:14.933px;
	}
	.result-info .feature{
		font-weight: bold;
		font-style: italic;
	}

/* export */
#export{
	margin-bottom:40px;
}
img.loading{
	display: none;
}