<link rel="stylesheet" type="text/css" href="../stylesheet.css"><h1>Cosine Similarity</h1><div id="wrapper">
		<hr>
		<div><b>sentence</b>: IIIOverview Part I: GEB Introduction: A Musico-Logical Offering.</div>
		<div><b>most similar</b>: 'Introduction: A Musico-Logical Offering 12Introduction: A Musico-Logical Offering 13FIGURE 3.</div>
		<div><b>cosine similarity</b>: 0.565631133602</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The book opens with the story of Bach's Musical Offering.</div>
		<div><b>most similar</b>: I was inspired by the one from the Musical Offering-and also by the story of the Musical Offering.</div>
		<div><b>cosine similarity</b>: 0.546019217784</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Bach made an impromptu visit to King Frederick the Great of Prussia, and was requested to improvise upon a theme presented by the King.</div>
		<div><b>most similar</b>: In which Bach improvised an eight-part fugue on a theme of King Frederick the Great?</div>
		<div><b>cosine similarity</b>: 0.433873532859</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: His improvisations formed the basis of that great work.</div>
		<div><b>most similar</b>: On the basis of what information is a template built?</div>
		<div><b>cosine similarity</b>: 0.23728881358</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The Musical Offering and its story form a theme upon which I "improvise"throughout the book, thus making a sort of "Metamusical Offering".</div>
		<div><b>most similar</b>: The book opens with the story of Bach's Musical Offering.</div>
		<div><b>cosine similarity</b>: 0.458955913749</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Self-reference and the interplay between different levels in Bach are discussed: this leads to a discussion of parallel ideas in Escher's drawings and then Gödel’s Theorem.</div>
		<div><b>most similar</b>: It concludes with an implicit reference to the beginning of the book, thus making the book into one big self-referential loop, symbolizing at once Bach's music, Escher's drawings, and Gödel’s Theorem.</div>
		<div><b>cosine similarity</b>: 0.282263878317</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: A brief presentation of the history of logic and paradoxes is given as background for Gödel’s Theorem.</div>
		<div><b>most similar</b>: Is there a "Gödel’s Theorem of psychology", for instance?</div>
		<div><b>cosine similarity</b>: 0.237859349516</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: This leads to mechanical reasoning and computers, and the debate about whether Artificial Intelligence is possible.</div>
		<div><b>most similar</b>: The topic is the relation between reasoning, reasoning about reasoning, reasoning about reasoning about reasoning, and so on.</div>
		<div><b>cosine similarity</b>: 0.336916554159</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: I close with an explanation of the origins of the book-particularly the why and wherefore of the Dialogues.</div>
		<div><b>most similar</b>: Anteater: That highlights a very interesting difference between the explanation of the behavior of an ant colony and the explanation of the behavior of gas inside a container.</div>
		<div><b>cosine similarity</b>: 0.270186531857</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Three-Part Invention.</div>
		<div><b>most similar</b>: Three-Part Invention 37Figure 10.</div>
		<div><b>cosine similarity</b>: 0.729981941844</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Bach wrote fifteen three-part inventions.</div>
		<div><b>most similar</b>: Bach also wrote fifteen two-part inventions.</div>
		<div><b>cosine similarity</b>: 0.876397439933</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: In this three-part Dialogue, the Tortoise and Achilles-the main fictional protagonists in the Dialogues-are "invented" by Zeno (as in fact they were, to illustrate Zeno's paradoxes of motion).</div>
		<div><b>most similar</b>: Then we would have: The Tortoise was invented by Zeno.</div>
		<div><b>cosine similarity</b>: 0.352463561861</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Very short, it simply gives the flavor of the Dialogues to come.</div>
		<div><b>most similar</b>: Very simply.</div>
		<div><b>cosine similarity</b>: 0.50034697908</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Chapter I: The MU-puzzle.</div>
		<div><b>most similar</b>: is the puzzle.</div>
		<div><b>cosine similarity</b>: 0.553196552252</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: A simple formal system (the MIL'-system) is presented, and the reader is urged to work out a puzzle to gain familiarity with formal systems in general.</div>
		<div><b>most similar</b>: symbols" of a formal system.</div>
		<div><b>cosine similarity</b>: 0.36407677922</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: A number of fundamental notions are introduced: string, theorem, axiom, rule of inference, derivation, formal system, decision procedure, working inside/outside the system.</div>
		<div><b>most similar</b>: Below is the derivation of the theorem --t---q----- : (1) --t-q-- (axiom) (2) --t—q---- (by rule of inference, using line (1) as the old theorem) (3) --t---q ------- (by rule of inference, using line (2) as the old theorem) Notice how the middle hyphen-string grows by one hyphen each time the rule of inference is applied; so it is predictable that if you want a theorem with ten hyphens in the middle, you apply the rule of inference nine times in a row.</div>
		<div><b>cosine similarity</b>: 0.344600351581</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Two-Part Invention.</div>
		<div><b>most similar</b>: Three-Part Invention.</div>
		<div><b>cosine similarity</b>: 0.659744434914</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Bach also wrote fifteen two-part inventions.</div>
		<div><b>most similar</b>: Bach wrote fifteen three-part inventions.</div>
		<div><b>cosine similarity</b>: 0.876397439933</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: This two-part Dialogue was written not by me, but by Lewis Carroll in 1895.</div>
		<div><b>most similar</b>: This Dialogue has much in common with the Dialogue by Lewis Carroll.</div>
		<div><b>cosine similarity</b>: 0.54074629832</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Carroll borrowed Achilles and the Tortoise from Zeno, and I in turn borrowed them from Carroll.</div>
		<div><b>most similar</b>: Just as Lewis Carroll took liberties with Zeno's Tortoise and Achilles, so have I taken liberties with Lewis Carroll's Tortoise and Achilles.</div>
		<div><b>cosine similarity</b>: 0.347860123532</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The topic is the relation between reasoning, reasoning about reasoning, reasoning about reasoning about reasoning, and so on.</div>
		<div><b>most similar</b>: His idea was to use mathematical reasoning in exploring mathematical reasoning itself.</div>
		<div><b>cosine similarity</b>: 0.477707289354</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: It parallels, in a way, Zeno's paradoxes about the impossibility of motion, seeming to show, by using infinite regress, that reasoning is impossible.</div>
		<div><b>most similar</b>: Zeno is hoping to use our footrace to show that motion is impossible, you see.</div>
		<div><b>cosine similarity</b>: 0.367863414017</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: It is a beautiful paradox, and is referred to several times later in the book.</div>
		<div><b>most similar</b>: It is extraordinarily beautiful.</div>
		<div><b>cosine similarity</b>: 0.312737921413</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Chapter II: Meaning and Form in Mathematics.</div>
		<div><b>most similar</b>: Once you have Meaning and Form in Mathematics 64FIGURE 13.</div>
		<div><b>cosine similarity</b>: 0.537308211624</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: A new formal system (the pq-system) is presented, even simpler than the MIU-system of Chapter I.</div>
		<div><b>most similar</b>: The pq-System The formal system of this Chapter is called the pq-system.</div>
		<div><b>cosine similarity</b>: 0.566670741751</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Apparently meaningless at first, its symbols are suddenly revealed to possess meaning by virtue of the form of the theorems they appear in.</div>
		<div><b>most similar</b>: In particular, it harks back to the pq-system, and its variant, in which the symbols acquired passive meanings by virtue of their roles in theorems.</div>
		<div><b>cosine similarity</b>: 0.24586764189</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: This revelation is the first important insight into meaning: its deep connection to isomorphism.</div>
		<div><b>most similar</b>: What a revelation!</div>
		<div><b>cosine similarity</b>: 0.337385498981</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Various issues related to meaning are then discussed, such as truth, proof, symbol manipulation, and the elusive concept, "form".</div>
		<div><b>most similar</b>: Various levels of seeing pictures, chessboards, and computer systems are discussed.</div>
		<div><b>cosine similarity</b>: 0.295952150867</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Sonata for Unaccompanied Achilles.</div>
		<div><b>most similar</b>: For instance, take the Sonata for Unaccompanied Achilles.</div>
		<div><b>cosine similarity</b>: 0.810062701615</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: A Dialogue which imitates the Bach Sonatas for unaccompanied violin.</div>
		<div><b>most similar</b>: It also occurs in Bach-particularly in his Sonatas and Partitas for unaccompanied violin, and his Suites for unaccompanied cello.</div>
		<div><b>cosine similarity</b>: 0.543638645654</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: In particular, Achilles is the only speaker, since it is a transcript of one end of a telephone call, at the far end of which is the Tortoise.</div>
		<div><b>most similar</b>: or is that the end?</div>
		<div><b>cosine similarity</b>: 0.436903448142</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Their conversation concerns the concepts of "figure" and "ground" in various Overview IVcontexts- e.g., Escher's art.</div>
		<div><b>most similar</b>: A recursive figure is one whose ground can be seen as a figure in its own right.</div>
		<div><b>cosine similarity</b>: 0.257184187367</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The Dialogue itself forms an example of the distinction, since Achilles' lines form a "figure", and the Tortoise's lines-implicit in Achilles' lines-form a "ground".</div>
		<div><b>most similar</b>: Is it the "form" of the lines and dots on our retina?</div>
		<div><b>cosine similarity</b>: 0.374120657361</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Chapter III: Figure and Ground.</div>
		<div><b>most similar</b>: III.</div>
		<div><b>cosine similarity</b>: 0.567199049877</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The distinction between figure and ground in art is compared to the distinction between theorems and nontheorems in formal systems.</div>
		<div><b>most similar</b>: Figure and Ground This recalls the famous artistic distinction between figure and ground.</div>
		<div><b>cosine similarity</b>: 0.418188402053</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The question "Does a figure necessarily contain the same information as its ground%" leads to the distinction between recursively enumerable sets and recursive sets.</div>
		<div><b>most similar</b>: In more technical terminology, this becomes: There exist recursively enumerable sets which are not recursive.</div>
		<div><b>cosine similarity</b>: 0.383450367163</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Contracrostipunctus.</div>
		<div><b>most similar</b>: Explicit Meaning of the Contracrostipunctus All this is by way of preparation for a discussion of the Contracrostipunctus-a study in levels of meaning.</div>
		<div><b>cosine similarity</b>: 0.542500618804</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: This Dialogue is central to the book, for it contains a set of paraphrases of Gödel’s self-referential construction and of his Incompleteness Theorem.</div>
		<div><b>most similar</b>: A Dialogue in which Gödel’s self-referential construction is mirrored in words.</div>
		<div><b>cosine similarity</b>: 0.44837171118</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: One of the paraphrases of the Theorem says, "For each record player there is a record which it cannot play."</div>
		<div><b>most similar</b>: On the other hand, it seems perfectly reasonable to call t extraction of music from a record a "revelation" of information inherent the record, for several reasons: (1) the music does not seem to be concealed in the mechanism of the record player; (2) it is possible to match pieces of the input (the record) with pieces of the output (the music) to an arbitrary degree of accuracy; (3) it is possible to play other records on the same record player and get other sounds out; (4) the record and the record player are easily separated from one another.</div>
		<div><b>cosine similarity</b>: 0.470508935283</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The Dialogue's title is a cross between the word "acrostic" and the word "contrapunctus", a Latin word which Bach used to denote the many fugues and canons making up his Art of the Fugue.</div>
		<div><b>most similar</b>: The symbol '∨' represents the word `or' ('vel' is a Latin word for `or').</div>
		<div><b>cosine similarity</b>: 0.363572421451</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Some explicit references to the Art of the Fugue are made.</div>
		<div><b>most similar</b>: "Consistency, Completeness, and Geometry 93The Art of the Fugue A few words on the Art of the Fugue ...</div>
		<div><b>cosine similarity</b>: 0.445720340027</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The Dialogue itself conceals some acrostic tricks.</div>
		<div><b>most similar</b>: Most acrostics, however, have only one hidden level-but there is no reason that one couldn't make a double-decker-an acrostic on top of an acrostic.</div>
		<div><b>cosine similarity</b>: 0.280474071659</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Chapter IV: Consistency, Completeness, and Geometry.</div>
		<div><b>most similar</b>: Consistency, Completeness, and Geometry 91FIGURE 20.</div>
		<div><b>cosine similarity</b>: 0.558897611977</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The preceding Dialogue is explicated to the extent it is possible at this stage.</div>
		<div><b>most similar</b>: The preceding sentence is true.</div>
		<div><b>cosine similarity</b>: 0.31894395569</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: This leads back to the question of how and when symbols in a formal system acquire meaning.</div>
		<div><b>most similar</b>: symbols" of a formal system.</div>
		<div><b>cosine similarity</b>: 0.45578996639</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The history of Euclidean and non-Euclidean geometry is given, as an illustration of the elusive notion of "undefined terms".</div>
		<div><b>most similar</b>: This the case with Euclidean versus non- Euclidean geometry.</div>
		<div><b>cosine similarity</b>: 0.549107229494</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: This leads to ideas about the consistency of different and possibly "rival" geometries.</div>
		<div><b>most similar</b>: So it is essential and vital for physicists that different and "rival" geometries should exist.</div>
		<div><b>cosine similarity</b>: 0.375230416435</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Through this discussion the notion of undefined terms is clarified, and the relation of undefined terms to perception and thought processes is considered.</div>
		<div><b>most similar</b>: This view would say that the postulates are implicit definitions of all the undefined terms, all of the undefined terms being defined in terms of the others.</div>
		<div><b>cosine similarity</b>: 0.487001762697</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Little Harmonic Labyrinth.</div>
		<div><b>most similar</b>: Little Harmonic Labyrinth 121Achilles: I see.</div>
		<div><b>cosine similarity</b>: 0.739121672959</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: This is based on the Bach organ piece by the same name.</div>
		<div><b>most similar</b>: A Dialogue based on a piece by the same name from the Musical Offering.</div>
		<div><b>cosine similarity</b>: 0.569676590562</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: It is a playful introduction to the notion of recursive-i.e., nested structures.</div>
		<div><b>most similar</b>: "recursive".</div>
		<div><b>cosine similarity</b>: 0.301480736196</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: It contains stories within stories.</div>
		<div><b>most similar</b>: Tortoise: Do you always get stories, at least?</div>
		<div><b>cosine similarity</b>: 0.433261734241</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The frame story, instead of finishing as expected, is left open, so the reader is left dangling without resolution.</div>
		<div><b>most similar</b>: What is left?</div>
		<div><b>cosine similarity</b>: 0.383274421343</div>

		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: One nested story concerns modulation in music-particularly an organ piece which ends in the wrong key, leaving the listener dangling without resolution.</div>
		<div><b>most similar</b>: When the A-section ends, we are in the key of D. In fact, it sounds as if the piece has ended in the key of D!</div>
		<div><b>cosine similarity</b>: 0.285987098998</div>

		</div>
		