<link rel="stylesheet" type="text/css" href="stylesheet.css"><h1>Cosine Similarity</h1><div id="wrapper">
		<hr>
		<div><b>sentence</b>: Two things are clear: If we wish a machine to do something, we have to tell it to do it, and the machine must be able to understand what we say to it.</div>
		<div><b>most similar</b>: The most common way to tell a computer what to do, at least to this day, is to give it a specific program for the task we have in mind and, of course, the data to which that program is to be applied.</div>
		<div><b>cosine similarity</b>: 0.48141617557</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The most common way to tell a computer what to do, at least to this day, is to give it a specific program for the task we have in mind and, of course, the data to which that program is to be applied.</div>
		<div><b>most similar</b>: Two things are clear: If we wish a machine to do something, we have to tell it to do it, and the machine must be able to understand what we say to it.</div>
		<div><b>cosine similarity</b>: 0.48141617557</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: We may, for example, give it a square-root program and the number 25, and expect it to deliver the number 5 to us.</div>
		<div><b>most similar</b>: The most common way to tell a computer what to do, at least to this day, is to give it a specific program for the task we have in mind and, of course, the data to which that program is to be applied.</div>
		<div><b>cosine similarity</b>: 0.307252160634</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: The computer "understands" the square-root program in the sense that it can interpret it in precisely the way we had in mind when we composed it.</div>
		<div><b>most similar</b>: The most common way to tell a computer what to do, at least to this day, is to give it a specific program for the task we have in mind and, of course, the data to which that program is to be applied.</div>
		<div><b>cosine similarity</b>: 0.285596101704</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: But then such a program converts a computer into a very special-purpose machine, a square-root-taking machine, and nothing more.</div>
		<div><b>most similar</b>: Two things are clear: If we wish a machine to do something, we have to tell it to do it, and the machine must be able to understand what we say to it.</div>
		<div><b>cosine similarity</b>: 0.140909439082</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Humans, if they are machines at all, are vastly general-purpose machines and, what is most important, they understand communications couched in natural languages (e.g., English) that lack, by very far, the precision and unambiguousness of ordinary programming languages.</div>
		<div><b>most similar</b>: Since the over-all aim of AI is to build machines that are "responsive to the full detail of a library of encyclopedias," work must naturally be done to enable them to understand natural language.</div>
		<div><b>cosine similarity</b>: 0.210800025471</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: Since the over-all aim of AI is to build machines that are "responsive to the full detail of a library of encyclopedias," work must naturally be done to enable them to understand natural language.</div>
		<div><b>most similar</b>: The most common way to tell a computer what to do, at least to this day, is to give it a specific program for the task we have in mind and, of course, the data to which that program is to be applied.</div>
		<div><b>cosine similarity</b>: 0.357903338125</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: But, even apart from such dreams, there are both practical and scientific reasons for working on the natural-language problem.</div>
		<div><b>most similar</b>: But then such a program converts a computer into a very special-purpose machine, a square-root-taking machine, and nothing more.</div>
		<div><b>cosine similarity</b>: 0.111986742867</div>
		</div>
		<div id="wrapper">
		<hr>
		<div><b>sentence</b>: If people from outside the computer fields are to be able to interact significantly with computers, then either they must learn the computer's languages or it must learn theirs.</div>
		<div><b>most similar</b>: Two things are clear: If we wish a machine to do something, we have to tell it to do it, and the machine must be able to understand what we say to it.</div>
		<div><b>cosine similarity</b>: 0.273651350477</div>
		</div>
		<hr><h2>not listed sentences (empty cosine similarity vectors)</h2><div>None</div>