body{
	font-family: "helvetica";
}
div#wrapper{
	columns:2 auto;
	column-gap:10mm;
}
div.matrix{
	margin-bottom:50px;
}
div.vector{
}
span.feature{
	padding-right: 6px;
}
	.feature .fname{
		color:red;
		padding-left: 5px;
		padding-right: 5px;
	}
	.feature .fval{
		color:blue;
		font-size: 48px;
	}