@page{
	width: 210mm;
	height: 297mm;
	margin:2mm 5mm 5mm 5mm;
	zoom:1;
}
html.page body{
	width: 100%;
}
html.page #wrapper{
	width: 100%;
	margin:0 auto;
	left:0px;
}
html.page #header{
	margin:0;
	padding:0;
}

/* fontsizes */
html.page #header, html.page b{
	font-family: monospace;
	font-size: 8pt;
	line-height: 1.4;
}

/* results */
html.page .result{
	margin:0;
	padding:0;
	border:0;
	width: 100%;
	height: 173mm;
}
html.page b{
	font-weight:bold;
	margin:0;
	padding:0;
}
