@font-face {
	font-family: 'Fantasque';
	src: url('fonts/fantasque/FantasqueSansMono-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fantasque';
	src: url('fonts/fantasque/FantasqueSansMono-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Fantasque';
	src: url('fonts/fantasque/FantasqueSansMono-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Fantasque';
	src: url('fonts/fantasque/FantasqueSansMono-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
body{
	position: relative;
	font-family: 'Fantasque';
	font-size: 14pt;
	line-height: 1.55;
	margin:0;
	padding:0;
	top:0;
	left:0;
}
#wrapper{
	position: relative;
	width: 100%;
	width: 800px;
	top:0;
	left:0;
	margin:1em auto 0 auto;
	padding:0;
}

/********************/
/* general elements */
h1, h2{
	font-size: 100%;
	font-weight: normal;
}
	h1{
		text-decoration: underline;
	}
	h1#title{
		font-size: 350%;
		font-weight: bold;
		text-decoration: none;	
		line-height: 1.0;
		margin:0 0 1em 0;
	}
	h2{
		font-style: italic;
		text-decoration: none;
	}
small, sup{
	font-size: 12px;
}
textarea, input{
	margin:5px;
}
input[type='text']{
	width: 250px;
}

/********************/
/* input text */
textarea{
	width: 100%;
}

/********************/
/* results */
#results{
	margin:2em 0;
}

/********************/
/* export */
#export-wrapper{
	position: relative;
	width: 100%;
	background-color: rgba(240,240,240,1);
	margin:0;
	padding:0.5em 0 2em 0;
}
#export-container{
	width: 800px;
	margin:0 auto;
}
img.loading{
	display: none;
}