.controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1em;

  padding: 1em;

  display: flex;
  flex-direction: row;
}

.control  {
  flex: 1 1 auto;
}

.control label:after {
  content: ": "
}

.control.length-slider input[type="number"] {
  max-width: 5em;
}

button {
  width: 100%;
}

body {
  padding: 4em 1em;
}