@page{
	width: 210mm;
	height: 297mm;
	margin:5mm 5mm 10mm 5mm;
	zoom: 0.75;
}
html.page body{
	background-color: white;
	font-family: 'computermodern', monospace;
}
.page #parameters{
	font-size: 10pt;
	line-height: 13pt;
	width: 100%;
	margin:2em auto 2em auto;
}
	.page #parameters .key{
		width: 50px;
		display: inline-block;
	}
	.page #parameters .words{
		position: relative;
		max-width: 175mm;
		margin:0;
		display: inline-block;
	}
	.page #parameters .words div.word{
		position: relative;
		display: inline-block;
		padding:5px 10px;
		margin:5px;
		min-width: 150px;
		min-height: 0;
	}
	.page #parameters button{
		display:none;
	}
.page #wrapper{
	font-size: 16pt;
	line-height: 21.5pt;
	width: 200mm;
	margin:3em auto 3em auto;
	-moz-columns:2 auto;
	-moz-column-gap:5mm;
	columns:2 auto;
	column-gap:5mm;
}
	.page #wrapper h1, .page #wrapper h2{
		margin:0 0 24.9px 0;
	}
br{
	line-height: 19px;
}
.page small{
	font-family: monospace;
	font-size: 11px;
	line-height: 24.9px;
}
	.page small#header{
		top:-2.5mm;
	}
.page .parameter table{
	display: block;
}
