@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmuntt.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmunit.ttf');
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmuntb.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'computermodern';
	src:url('fonts/Typewriter/cmuntx.ttf');
	font-weight: bold;
	font-style: italic;
}
body{
	font-weight: normal;
	font-family: "computermodern", monospace;
	letter-spacing: 0.02em;
	line-height: 1.5;
	background-color: rgba(240,240,240,1);
}
h1{
	font-size: 100%;
	font-weight: normal;
	text-decoration: underline;
	margin:30px 0 20px 0;
}
h2{
	font-size: 100%;
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	margin:40px 0 0 0;
}
h1#title{
	margin:0 0 80px 0;
	padding-top:0;
	line-height: 32px;
	font-weight: bold;
	text-decoration: none;
}
	h2#sorted, h2#parameters{
		page-break-before: always;
	}
#wrapper{
	position: relative;
	width: 85%;
	margin:0 auto 2em auto;
	font-size: 22px;
	line-height: 1.7;
}
textarea{
	margin:0 0 10px 0;
	width: 100%;
}
#parameters{
	margin:0 auto;
}
	#parametersPDF{
		display: none;
	}
.parameter{
	padding-left:30px;
}
	small.toggle:hover{
		cursor: pointer;
		opacity: 0.5;
	}
	table, div.table{
		/*display: none;*/
		max-width: 100%;
		margin:0 0 20px 0;
		padding-left:30px;
	}
		td.key, div.column.key{
			width: 50px;
			padding-right: 10px;
			vertical-align: top;
			display: inline-block;
		}
		div.table div.column.words{
			width: calc(100% - 100px);
			display: inline-block;
			min-height: 52.2px;
		}
		div.table div.column.word{
			display: inline;
		}
		td, div.column{
			word-wrap:break-word;
		}
input{
	min-width: 220px;
}
	input[type='submit']{
		min-width: 0;
	}
	input[type='text']{
		margin:0 0 10px 0;
		padding:10px;
		border:0;
		display: inline;
	}
	textarea{
		padding:10px;
		border:0;
	}
hr{
	margin:10px 0;
}
#results{
	text-align: left;
	margin-top:70px;
}
#export{
	line-height: 2.5;
}
small{
	line-height: 1;
}
img.loading{
	height: 25px;
	vertical-align: middle;
	padding-left:5px;
	display: none;
}