div.nw, div.modifier, div.modified, div.weasel, div.special{
	position: relative;
	display: inline-block;
	/*width: 1%;*/
	padding:0px;
	margin:0px 0px;
	/*height: 220px;*/
}
.none{
	display: inline-block;
	margin-bottom:3px;
}

.weasel{
	width: auto;
	border-bottom:3px solid blue;
}

.n1, .n05, .n50, .n375, .n25, .n125, .np, .p125, .p25, .p375, .p50, .p75, .p1{
	position: relative;
}

.n1, .-\31 \.0{
	background-color: rgba(255,0,0,1);
}
.n75, .-\30 \.75{
	background-color: rgba(255,0,0,0.75);
}
.n50, .-\30 \.5{
	background-color: rgba(255,0,0,0.5);
}
.n375{
	background-color: rgba(255,0,0,0.375);
}
.n25, .-\30 \.25{
	background-color: rgba(255,0,0,0.25);
}
.n125{
	background-color: rgba(255,0,0,0.125);
}
.np, .\30 \.0{
	background-color: rgba(245,245,245,1);
}
.p125{
	background-color: rgba(255,0,0,0.125);
}
.p375{
	background-color: rgba(255,0,0,0.375);
}
.p50, .\30 \.5{
	background-color: rgba(0,255,0,0.5);
}
.p75, .\30 \.75{
	background-color: rgba(0,255,0,0.75);
}
.p1, .\31 \.0{
	background-color: rgba(0,255,0,1);
}
.p25, .\30 \.25{
	background-color: rgba(0,255,0,0.25);
}


.modifier{
	border-bottom: 3px dotted orange;
}
.modified{
	border-bottom: 3px solid orange;
}

.p50, .p75, .p1{
	color:green;
}
.n1, .n75, .n50, .n375, .n25, .n125, .np, .p125, .p25, .p375{
	color:rgba(175,0,0,1);
}
.negator{
	background-color: black;
	color:white;
}
.negated{
	color:black;
	background-color: white;
}