<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
	<meta Content-Type: text/html; charset="utf-8">	
	<script type="text/javascript" src="../js/jquery-2.1.3.js"></script>
</head>
<body>
	<form action="" method="post">
		{% if method == 'POST' %}
			<input id="state" type="hidden" name="state" value="{{state}}">
		{% endif %}
		

		<div class="wrapper">

			<h1 id="title">Cosine Similarity Morphs</h1>

			<h1>Collecting text</h1>
				
			<textarea class="fullwidth" name="input_text" rows="20">{{ input_text }}</textarea>
						
			<h1>Creating a vector matrix</h1>
			From here on, sentences, expressions and words become <em>features</em>. 
			Select four feature types (these will be your counting units): 
			<select name="feature1">
				<option value="none" {% if 'none' == feature1 %}selected{% endif %}>none</option>
				<option value="word" {% if 'word' == feature1 %}selected{% endif %}>word</option>
				<option value="bigram" {% if 'bigram' == feature1 %}selected{% endif %}>bigram</option>
				<option value="trigram" {% if 'trigram' == feature1 %}selected{% endif %}>trigram</option>
				<option value="chargram2" {% if 'chargram2' == feature1 %}selected{% endif %}>chargram2</option>
				<option value="chargram3" {% if 'chargram3' == feature1 %}selected{% endif %}>chargram3</option>
				<option value="chargram4" {% if 'chargram4' == feature1 %}selected{% endif %}>chargram4</option>
				<option value="chargram5" {% if 'chargram5' == feature1 %}selected{% endif %}>chargram5</option>
				<option value="pos" {% if 'pos' == feature1 %}selected{% endif %}>part-of-speech</option>
				<option value="pos_bigr" {% if 'pos_bigr' == feature1 %}selected{% endif %}>part-of-speech bigram</option>
				<option value="pos_trigr" {% if 'pos_trigr' == feature1 %}selected{% endif %}>part-of-speech trigram</option>
			</select> 
			<select name="feature2">
				<option value="none" {% if 'none' == feature2 %}selected{% endif %}>none</option>
				<option value="word" {% if 'word' == feature2 %}selected{% endif %}>word</option>
				<option value="bigram" {% if 'bigram' == feature2 %}selected{% endif %}>bigram</option>
				<option value="trigram" {% if 'trigram' == feature2 %}selected{% endif %}>trigram</option>
				<option value="chargram2" {% if 'chargram2' == feature2 %}selected{% endif %}>chargram2</option>
				<option value="chargram3" {% if 'chargram3' == feature2 %}selected{% endif %}>chargram3</option>
				<option value="chargram4" {% if 'chargram4' == feature2 %}selected{% endif %}>chargram4</option>
				<option value="chargram5" {% if 'chargram5' == feature2 %}selected{% endif %}>chargram5</option>
				<option value="pos" {% if 'pos' == feature2 %}selected{% endif %}>part-of-speech</option>
				<option value="pos_bigr" {% if 'pos_bigr' == feature2 %}selected{% endif %}>part-of-speech bigram</option>
				<option value="pos_trigr" {% if 'pos_trigr' == feature2 %}selected{% endif %}>part-of-speech trigram</option>
			</select> 
			<select name="feature3">
				<option value="none" {% if 'none' == feature3 %}selected{% endif %}>none</option>
				<option value="word" {% if 'word' == feature3 %}selected{% endif %}>word</option>
				<option value="bigram" {% if 'bigram' == feature3 %}selected{% endif %}>bigram</option>
				<option value="trigram" {% if 'trigram' == feature3 %}selected{% endif %}>trigram</option>
				<option value="chargram2" {% if 'chargram2' == feature3 %}selected{% endif %}>chargram2</option>
				<option value="chargram3" {% if 'chargram3' == feature3 %}selected{% endif %}>chargram3</option>
				<option value="chargram4" {% if 'chargram4' == feature3 %}selected{% endif %}>chargram4</option>
				<option value="chargram5" {% if 'chargram5' == feature3 %}selected{% endif %}>chargram5</option>
				<option value="pos" {% if 'pos' == feature3 %}selected{% endif %}>part-of-speech</option>
				<option value="pos_bigr" {% if 'pos_bigr' == feature3 %}selected{% endif %}>part-of-speech bigram</option>
				<option value="pos_trigr" {% if 'pos_trigr' == feature3 %}selected{% endif %}>part-of-speech trigram</option>
			</select> 
			<select name="feature4">
				<option value="none" {% if 'none' == feature4 %}selected{% endif %}>none</option>
				<option value="word" {% if 'word' == feature4 %}selected{% endif %}>word</option>
				<option value="bigram" {% if 'bigram' == feature4 %}selected{% endif %}>bigram</option>
				<option value="trigram" {% if 'trigram' == feature4 %}selected{% endif %}>trigram</option>
				<option value="chargram2" {% if 'chargram2' == feature4 %}selected{% endif %}>chargram2</option>
				<option value="chargram3" {% if 'chargram3' == feature4 %}selected{% endif %}>chargram3</option>
				<option value="chargram4" {% if 'chargram4' == feature4 %}selected{% endif %}>chargram4</option>
				<option value="chargram5" {% if 'chargram5' == feature4 %}selected{% endif %}>chargram5</option>
				<option value="pos" {% if 'pos' == feature4 %}selected{% endif %}>part-of-speech</option>
				<option value="pos_bigr" {% if 'pos_bigr' == feature4 %}selected{% endif %}>part-of-speech bigram</option>
				<option value="pos_trigr" {% if 'pos_trigr' == feature4 %}selected{% endif %}>part-of-speech trigram</option>
			</select> 
			and decide if you 
			<select name="lowercase">
				<option value="True" {% if lowercase == 'True'%}selected{% endif %}>do</option>
				<option value="False" {% if lowercase == 'False'%}selected{% endif %}>don't</option> 
			</select> want to lowercase the text.
			To turn these features into numbers, we <em>count</em> following the 
			<select name="countingmethod">
				<option value="tf" disabled>Term Frequency (TF)</option>
				<option value="tfidf">Term Frequency Inverse Document Frequency (TFIDF)</option>
			</select>
			method.
			<br>
			<input type="submit" value="submit">
		</div>

		{% if method == 'POST'%}

			<div id="corpus-created" class="returned-values-wrapper">
				<div class="returned-values-container">
					<h1>Reading the corpus</h1>
					{% if corpus %}
						<button class="toggle" name="corpus">show/hide corpus</button>
						<br>
						<div id="corpus" class="sentences" style="display:none;">
							{% for doc in corpus %}
								<div>
									<span class="linenr">#{{ loop.index }}</span>
									<div class="sentence">{{ doc }}</div>
								</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
			<div id="retracing-similarity" class="wrapper">
				<h1>Retracing similarity</h1>
				<em>Input sentence</em>: 
				<input class="input-sentence" type="text" name="input_sentence" value="{{input_sentence}}">
				<br>
				<input class="retracing-similarity" type="submit" value="submit">
			</div>

			{% if sentences_in %}
				{% if input_sentence != 'None'%}
					<div class="returned-values-wrapper">
						<div class="returned-values-container">
							<h1>Cosine similarity morphs</h1>
							<div id="results">
								{% for feature_type in features %}
								<div class="result">
									<div class="type"><b>({{ feature_type }})</b></div>
									<div id="sentences">
										<div id="sentence1">{{ sentences_in[loop.index0] }}</div>
										<div id="sentence2">{{ sentences_out[loop.index0] }}</div>
									</div>
									<div class="result-info fullwidth">
										<div class="rate info">
											<u>Similarity rate</u>
											{{cossim_values[loop.index0]}}
										</div>
										<div class="overlap info">
											<u>Overlap</u>
											{% for list in sentences_out_features_html[loop.index0] %}
												{{ list }}
											{% endfor %}
										</div>
										<div class="features-overview left">
											<div class="info">
												<u>input sentence features</u>
												{% for feature in sentences_in_vector_html[loop.index0] %}
													{{ feature }}
												{% endfor %}
											</div>
										</div>
										<div class="features-overview info right">
											<div class="info">
												<u>most similar sentence #{{sentences_out_vector_index[loop.index0]}}</u>
												{% for feature in sentences_out_vector_html[loop.index0] %}
													{{ feature }}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div id="export" class="wrapper">
						<h1>Export</h1>
						Export these results with the following credits. 
						Title: <input id="titled" type="text" name="title" value="{{ title }}">, source: <input id="source" type="text" name="source" value="{% if source %}{{ source }}{% endif %}">, 
						author(s): 
							{% if author %}
								{% for a in author %}
								<input class="author" type="text" name="author" value="{{a}}">
								{% endfor %}
							{% else %}
								<input class="author" type="text" name="author">
							{% endif %}
						<span id="another" class="author"></span><button id="add" class="export">add one more author</button>, 
						filename: <input id="filename" type="text" name="filename" value="{{ filename }}">
						<button id="save" name="pdf">.pdf</button><img src="../img/loading.gif" class="loading" id="pdf" />
						<button id="save" name="html">.html</button><img src="../img/loading.gif" class="loading" id="html" /> or <button id="save" name="booklet">.pdf booklet</button><img src="../img/loading.gif" class="loading" id="booklet" />.
						<br>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
		</form>
	</div>
</body>	
<script type="text/javascript">

	var state = '{{state}}';
	$(function(){
		if(state){
			window.location.hash = state;
		}
	});

	$('.toggle').click(function(e){
		e.preventDefault();
		var name = $(this).attr('name');
		$('#'+name).toggle();
	});

	$('button#add.export').click(function(e){
		e.preventDefault();
		i = 1;
		$('#another.author').append(', <input class="author" type="text" name="author" value=""> ');
		i =+ 1;
	});

	$('input.retracing-similarity').click(function(e){
		$('input#state').val('retracing-similarity');
	});
	$('button#save').click(function(e){
		$('input#state').val('export');
	});

	$('button#save').click(function(e){
		e.preventDefault();
		var name = $(this).attr('name');
		if(name == 'booklet'){
			var cgi = 'export-booklet.cgi';
		}
		else{
			var cgi = 'export.cgi';
		}
		var results = $('#results').html();
		var resultslist = [];
		$.each($('.result'), function(i, div){
			var result = $(this).html();
			resultslist.push(result);
		});
		var source = $('#source').val();
		var filename = $('#filename').val();
		var title = $('#titled').val();
		author = '';
		$('input.author').each(function(){
			if(author != ''){
				author = author + ', ' +($(this).val());
			}
			else{
				author = $(this).val();
			}
		});
		$.ajax({
			url: cgi,
			method: "post",
			data: {
				filename : filename,
				title : title,
				source : source,
				author : author,
				results : results,
				result1 : resultslist[0],
				result2 : resultslist[1],
				result3 : resultslist[2],
				result4 : resultslist[3]
			},
			dataType: "html",
			success: function(){
				window.location.hash = 'export';
				$('input#state').val('export');
				if(name == 'html'){
					var win = window.open('/output/html/regular/'+filename+'.html', '_blank');
				}
				if(name == 'pdf'){
					var win = window.open('/output/pdf/regular/'+filename+'.pdf', '_blank');
				}
				if(name == 'booklet'){
					var win = window.open('/output/pdf/booklet/'+filename+'.pdf', '_blank');
				}
				if (win) {
					win.focus();
				} else {
					alert('Please allow popups for this website');
				}
			}
		})
	});

</script>
</html>