@charset "utf-8";

@page {
	size: 210mm 297mm;
	margin:10mm 5mm;
}

@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-Regular.ttf);
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-Italic.ttf);
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-Bold.ttf);
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-BoldItalic.ttf);
	font-weight:bold;
	font-style:italic;
}


body {
    font-family:Fantasque;
    font-size:12px;
    line-height:1.4;
    color: black;
}

pre {
    font-family: Fantasque;
}

/* INDEX HEADERS */

h1, h2, h3, h4, h5, h6{
	color:inherit;
	margin:1em 0 0 0;
	padding:0;
	font-weight:bold;
	font-size:100%;
	text-align:center;
}

/* TEXT HEADERS */

section.lemma h1, section.lemma h2, section.lemma h3, section.lemma h4, section.lemma h5, section.lemma h6{
	font-weight:bold;
	font-style:normal;
	margin:1em 0 0 0;
	padding:0;
	color:inherit;
	break-inside: avoid;
	break-before: avoid;
	page-break-before: avoid;
	text-align:left;
}
section.lemma h1{
	font-size:150%;
	font-weight:bold;
	line-height:0.9;
	margin-bottom:5mm;
	letter-spacing: .25mm;
	border-top: 2px solid;
	padding-top: .25em;
}
section.lemma h2{
	margin: 1em 0em 0em 0em;
	font-size:100%;
	font-weight:bold;
	text-transform: uppercase;
}

section.lemma h2:before {
    content: "% ";
    margin-left: -1em;
}

section.lemma h3{
	font-size:100%;
	}
	section.lemma h3:after, section.lemma h3:before, section.lemma h4:after, section.lemma h4:before, section.lemma h5:after, section.lemma h5:before{
		content:'';
	}
section.lemma h4{
	font-size:100%;
	font-weight:normal;
}
section.lemma h5{
	font-size:100%;
	font-weight:normal;
}
section.lemma h6{
	font-size:100%;
	font-weight:normal;
}


/* GENERAL ELEMENTS*/

p{
    margin: 0 0 1em 0;
}

ul {
	list-style-type: none;
	margin:0 0 1em 1em;
	padding:0;
}
li:before{
	content:'* ';
	margin-left:-1em;
}
a, a:active, a:visited{
	color:inherit;
	text-decoration:none;
	font-style:italic;
	padding:0;
	margin:0;
}
	a.external.text:after{
		content:" (" attr(href) ")";
		font-style:normal;
		font-size:80%;
		vertical-align:middle;
		word-break:break-all;
	}
table{
	color:inherit;
	margin: 0 0 1em 0;
	font-size:80%;
	line-height:1.35;
	break-inside: avoid;
}
	td{
		margin:0.5em 0;
		vertical-align:top;
	}
	td:first-of-type{
		width:30mm;
	}
pre, code{
	font-size:80%;
	line-height:1.5;
	margin:2em 1em;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	/*break-inside: avoid;*/
}
small{
	font-size:80%;
	line-height:0.7;
}

img{
	display: none;
}

.image {
    float: right;
    position: relative;

      /* border: 1px solid;*/
      padding: 0.25em !important;
      margin: 0 0 1em 1em !important;
}

p > a.image:nth-child(2){
	display:none;
}
.thumb.tright{
	display:none;
}
	

/* SECTION */
section.language {
	width:100%;
    -webkit-columns: 2 auto;
    -webkit-column-gap:12mm;
    counter-reset: image 1;
    orphans: 3;
    widows: 3;
}

section.group {
    margin-bottom:2em;
}

/* INDEX HEADERS */
pre.ascii{
	line-height:1.25;
	margin:0 7mm;
	break-inside: avoid;
}
.asciiheaderwrapper.groupheader {
    break-inside: avoid;
    font-weight:normal;
}
pre.ascii.h3{
	margin:5mm 1mm 0 1mm;
}
pre.ascii.h4{
	margin:0;
}
h4 {
    text-transform: uppercase;
    margin:2em 0 1em 0;
}
	h4:before {
		content:'%%  %%  %% ';
	}
	h4:after {
		content:' %%  %%  %%';
	}
	h4 + p{
		font-style:italic;
	}
h5{
	font-style:italic;
}
	h5:before {
		content:'%% ';
	}
	h5:after {
		content:' %%';
	}


div.asciiname{
	width: 100%;
	text-align:center;
	margin:0;
	padding:0;
}
div.asciiname.h3{
	margin:2mm 0 3mm 0;
}

.asciiheaderwrapper {
    break-inside: avoid;
    font-weight:bold;
}

.asciiheaderwrapper.center {
    text-align: center;
}

.asciiheaderwrapper.h3 .asciiname {
    text-transform: uppercase;
    margin-top:1em;
    margin-bottom: .5em;
}

/*.asciiheaderwrapper.h3 {
	break-before: page;
	page-break-before: page;
}*/

/*.asciiheaderwrapper.groupheader + p + .asciiheaderwrapper.h3{
	break-before: avoid;
	page-break-before: avoid;
}*/

/* TEXT HEADERS */
.asciiheaderwrapper.center pre {
    text-align: left;
    margin: auto;
    display: inline-block;
}
.lemmaheader {
    margin-top: 2em;
    margin-bottom: 0em;
    margin-left: -1em;
}
.lemmaheader pre.ascii {
    font-size: 100%;
    margin: 0;
}
	


/* SECTION LEMMA */
section.lemma{
    margin-top:0;
    padding-left: 2em;
    padding-right: 2em;
}

.toc{
	display:none;
}

section.lemma:first-child{
	margin-top:0mm;
}

svg {
    display: none;
}


/* experimenten */

.language > p {
    margin-left: 0.7em;
    text-align: center;
}

.groupheader {
    margin-top: 1em;
    margin-bottom: 2em;
    
    break-before: always;
    page-break-before: always;
}

/*
section.lemma.program {
    page-break-before: always;
    break-before: always;
}
*/

/*.page-breaker {
    page-break-before: always;
    page-break-after: always;
}*/

/*.lemma.you-shall-know-a-word-by-the-company-it-keeps .image, 
.lemma.vous-connatrez-un-mot-par-la-compagnie-quil-tient .image,
.lemma.word-embeddings-casestudy-crowd-embeddings .image,
.lemma.plongement-lexical-un-cas-dtude .image
{
	float: none;
	margin-left: 0;
	display: inline-block;
}

*/
/*.lemma.you-shall-know-a-word-by-the-company-it-keeps .image + .image,
.lemma.vous-connatrez-un-mot-par-la-compagnie-quil-tient .image + .image
{
	display: none;
}*/

/*.lemma.an-algoliterary-journey .lemmaheader {
    display: none;
}

.index {
    max-width: 50%;
    margin: auto;
}*/

/*.lemma.word-embeddings-casestudy-crowd-embeddings,
.lemma.you-shall-know-a-word-by-the-company-it-keeps,
.lemma.learning-from-deep-learning,
#inspecting-the-technique-behind-word-embeddings,
#graph-2-astroblackness, #graphique-2-astroblackness,
.language.en #logfiletxt,
.language.en .lemma.word2vec_basicpy h3#source,
.lemma.recettes-oulipo,
#des-mots-aux-nombres {
    page-break-before: always;
}

.h3#comment-une-machine-pourrait-parler {
    page-break-before: avoid;
}*/

