@charset "utf-8";

@page {
	size: 210mm 297mm;
	margin: 0mm;
}

@page:right {
	margin-left: 10mm;
	margin-right: 6mm;
}

@page:left {
	margin-left: 6mm;
	margin-right: 10mm;
}

@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-Regular.ttf);
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-Italic.ttf);
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-Bold.ttf);
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:Fantasque;
	src:url(fonts/fantasque/FantasqueSansMono-BoldItalic.ttf);
	font-weight:bold;
	font-style:italic;
}

html, body, * {
  background: rgba(255,255,255,0);
}

body {
    font-family:Fantasque;
    font-size:12px;
    line-height:1.4;
    color: black;
    counter-reset: page 0;
}

.page {
  padding-top: 270mm;
  counter-increment: page;
  break-after: page;
  position: relative;
}

.page:after {
  background: transparent;
  display: block;
  text-align: center;
  content: counter(page);
}

#vgc {
  width: 15mm;
  position: absolute;
  bottom: 11mm;
  right: 10mm;
}

#constant {
  width: 19mm;
  position: absolute;
  bottom: 10mm;
  right: 33mm;
}