<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Crowd Annotated Bag of Words</title>
	<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
	<script type="text/javascript" src="../js/jquery-2.1.3.js"></script>
</head>
<body>

<div id="container">
	<div id="vertical"></div>
	<div id="header">
		<div id="title" class="top">Crowd Annotated Bag of Words (supervised writing)</div>
		<div id="refresh" class="top">refresh</div>
		<div id="restart" class="top">restart</div>
		<div id="nav" class="top">
			<span class="navitem" name="intro">intro</span>
			<span class="navitem" name="details">details</span>
			<span class="navitem" name="opposition">binary opposition</span>
			<span class="navitem" name="collect">collect</span>
			<span class="navitem" name="filter">filter</span>
			<span class="navitem" name="numerization">numerization</span>
			<span class="navitem" name="submit">submit</span>
			<span class="navitem" name="graduallens">gradual lens</span>
			<!-- <span class="navitem" name="printlens">print lens</span> -->
			<span class="navitem" name="write">write</span>
			<span class="navitem" name="exportwrapper">export</span>
		</div>
	</div>
	<div id="wrapper">
		<form action="" method="post">

			{% if method == "GET" %}
				<input type="hidden" name="state" value="{{state}}"/>
			{% endif %}

			<!-- ******************************************************************* -->

			<div id="intro" class="step">
				<div class="content">
					<h2>Introduction</h2>
					<!-- <div><em>"If machine intelligence is indeed a different form of intelligence, then it can be observed and judged on the basis of its own merits, as opposed to a messianic waiting for a moment where it might equal or eclipse (weakly defined) human intelligence." - <a href="http://cramer.pleintekst.nl/essays/crapularity_hermeneutics/" target="_blank">Florian Cramer</a></em></div> -->

					<br>
					
					<div>This is a <em>crowd annotated bag-of-words writing machine</em> that uses web-crawling and the bag-of-words model to create a binary vocabulary.</div>

					<br>

					<div>Disambiguation:
						<ul>
							<li><em>crowd</em>: making use of sources that have been constructed by a larger amount of people</li>
							<li><em>annotated</em>: the act of labeling an object, such as a sentence or paragraph</li>
							<li><em>bag-of-words</em>: bag-of-words model is a classification model which reads a text as a collection of words. While processing a text the model discards word order, punctuation and possibly conjugations. The model transforms the text into a unique list of words used in the text, or quite literally a bag of words. </li>
							<li><em>writing machine</em>: an artistic approach to make web-based tools that offer an experience based insight in the mechanism of machine learning techniques</li>
						</ul>
					</div>
					<div>This writing system is made with the web-mining software library <a href="" target="_blank">Pattern</a> and is part of the project <a href="http://i-could-have-written-that.info/" target="_blank">i-could-have-written-that</a>.</div>
				</div>
			</div>

			<!-- ******************************************************************* -->

			<div id="details" class="step">
				<div class="content">
					<h2>Details</h2>
					<div>
						co-author (you): 
						{% if method == "GET" %}
							<input type="text" name="author" required>
						{% else %}
							<strong>{{ author }}</strong>
							<input type="hidden" name="author" value="{{ author }}"/>
						{% endif %}
					</div>
					<div>
						email address: 
						{% if method == "GET" %}
							<input type="text" name="email" required>
						{% else %}
							<strong>{{ author }}</strong>
							<input type="hidden" name="email" value="{{ email }}"/>
						{% endif %}
					</div>
					<div>
						title of your binary vocabulary: 
						{% if method == "GET" %}
							<input type="text" name="title" required>
						{% else %}
							<strong>{{ title }}</strong>
							<input type="hidden" name="title" value="{{ title }}"/>
						{% endif %}
					</div>
					<!-- <div>
						licensed under: 
						{% if method == "GET" %}
							<select name="licence" required>
								<option value="-" selected>-</option>
								<option value="Public Domain" selected>Public Domain</option>
								<option value="Creative Commons, Shared Alike">Creative Commons, Shared Alike</option>
								<option value="Copyright">Copyright</option>
							</select>
						{% else %}
							<strong>{{ licence }}</strong>
							<input type="hidden" name="licence" value="{{ licence }}"/>
						{% endif %}
						
					</div> -->

					<div>
						<span id="terms-button" class="popup-button" name="terms"><u>terms of service</u></span>: 
						{% if method == "GET" %}
							<input type="radio" name="terms" id="a" value="accepted" required> <label class="terms" for="a">accept</label>
							<input type="radio" name="terms" id="na" value="not accepted"> <label class="terms" for="a">do not accept</label>
						{% else %}
							<strong>{{ terms }}</strong>
							<input type="hidden" name="terms" value="{{terms}}"/>
						{% endif %}
						
					</div>
					<div id="terms" class="popup">
						<div class="popup-wrapper">
							<!-- buttons -->
							<div class="button-wrapper">
								<div class="include-word"></div>
								<div class="close-popup"><u>close</u></div>
							</div>
							<div class="result">
								<h2>Terms of Service</h2>
								<div>
									By accepting these terms of service, you approve that the output generated by this writing system can be published under a Free Art License. Any form of publishing will be done without mentioning your name or email address.<br><br>
									Please feel free to not accept these terms, and your generated output will not be used for any form of publishing.
								</div>
							</div>
						</div>
					</div>

					<!-- <div>
						choose a color scheme:
						<select name="colorscheme" required>
							<option value="black-white">black-white</option>
							<option value="green-red">green-red</option>
							<option value="blue-orange">blue-orange</option>
							<option value="blue-orange">purple-yellow</option>
						</select>
					</div> -->
				</div>
			</div>

			<!-- ******************************************************************* -->

			<div id="opposition" class="step">
				<div class="content">
					<h2>binary opposition</h2>
					<div>choose a binary opposition:</div>

					<div id="a_input" class="input-element">
						<label for="a_text">
							{% if method == "GET" %} 
								<input id="a_label" type="text" name="a_label" required/>
							{% else %} 
								<div class="a">{{a_label}}</div>
								<input id="a_label" type="hidden" name="a_label" value="{{a_label}}" required/>
							{% endif %}
						</label>
					</div>

					<div id="b_input" class="input-element right">
						<label for="b_text">
							{% if method == "GET" %}
								<input id="b_label" type="text" name="b_label" required/>
							{% else %} 
								<div class="b">{{b_label}}</div>
								<input id="b_label" type="hidden" name="b_label" value="{{b_label}}" required/>
							{% endif %}
						</label>
					</div>
				</div>
			</div>

			<!-- ******************************************************************* -->

			<div id="collect" class="step">
				<div class="content">
					<h2>collect</h2>
					<div>collect co-writers on Twitter, or copy-pasted material from your own selection of co-writers here:</div>
					<small>note: you can always edit your material here, also later in the process</small>

					<div id="import">
						<button id="collect" class="request" name="twitter">request 10 tweets with these hastags</button>
						<img id="twitter" class="loading_img" src="../img/loading.gif">

						<button id="collect" class="request" name="twitter_50">request 50 tweets with these hastags</button>
						<img id="twitter_50" class="loading_img" src="../img/loading.gif">

						<button id="collect" class="request" name="twitter_100">request 100 tweets with these hastags</button>
						<img id="twitter_100" class="loading_img" src="../img/loading.gif">
					</div>

					<div class="input-element">
						<textarea id="a_text" name="a_text">{{a_text}}</textarea>
					</div>

					<div class="input-element right">
						<textarea id="b_text" name="b_text">{{b_text}}</textarea>
					</div>
				</div>
			</div>

			<!-- ******************************************************************* -->

			<div id="filter" class="step">
				<div class="content">
					<h2>filter</h2>
					<div>filter your collected text. Here you could select specific type of words to be included in your vocabulary, or include all by selecting "all words":</div><br>
					<div class="inline-element">
						<small>word type:</small>
						<select name="pos">
							<option {% if pos=="all" %} selected {% endif %} >all words</option>
							<option {% if pos=="nouns" %} selected {% endif %} >nouns</option>
							<option {% if pos=="adjectives" %} selected {% endif %} >adjectives</option>
							<option {% if pos=="verbs" %} selected {% endif %} >verbs</option>
							<!-- <option {% if pos=="modal" %} selected {% endif %} >modal</option> -->
							<!-- <option {% if pos=="symbols" %} selected {% endif %} >symbols</option> -->
						</select>
						<br>
						<br>
						<small>The <a href="http://www.clips.ua.ac.be/pages/mbsp-tags" target="_blank">Penn Treebank II tagset</a> gives an overview of all the possible tags (word types).</small>
					</div>
					<!-- <input id="filter" class="" type="submit" value="submit filter" name="filter"><img id="train" class="loading_img" src="../img/loading.gif"> -->

					<div class="result">
						{% if a_text %}
							<div class="input-element">
							{% for i, item in lines.a.items() %}
								{% if not item.words %}
									<div class="result a">{{ item.sentence }} &rarr; <strong>NONE</strong></div>
								{% else %}
									<div class="result a">{{ item.sentence }} &rarr; <strong>{{ item.words }}</strong></div>
								{% endif %}
								<hr>
							{% endfor %}
							</div>
						{% else %}
							<div class="input-element emptyresults">no result</div>
						{% endif %}

						{% if b_text %}
							<div class="input-element">
							{% for i, item in lines.b.items() %}
								{% if not item.words %}
									<div class="result b">{{ item.sentence }} &rarr; <strong>NONE</strong></div>
								{% else %}
									<div class="result b">{{ item.sentence }} &rarr; <strong>{{ item.words }}</strong></div>
								{% endif %}
								<hr>
							{% endfor %}
							</div>
						{% else %}
							<div class="input-element emptyresults right">no result</div>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- ******************************************************************* -->

			<div id="numerization" class="step">
				<div class="content">
					<h2>numerization</h2>
					<div>To turn your text into numbers, select a counting method:</span>
					<select name="numerization">
						<option{% if numerization=="False" %} selected{%endif%}>-</option>
						<option{% if numerization=="TF" %} selected{%endif%}>TF</option>
						<option{% if numerization=="TFIDF" %} selected{%endif%}>TFIDF</option>
						<!-- <option{% if numerization=="IG" %} selected{%endif%}>IG</option> -->
						<!-- <option{% if numerization=="BINARY" %} selected{%endif%}>BINARY</option> -->
						<!-- <option{% if numerization=="None" %} selected{%endif%}>None</option> -->
					</select><br><br>
					(<strong>TF</strong>, or Term Frequency)<br>
					<div>Do you want to count <strong>each word</strong>, based on its appearance in <strong>the current sentence</strong>?</div><br>
					(<strong>TFIDF</strong>, or term frequency vs. document frequency)<br>
					<div>Or do you prefer to count <strong>each word</strong> in a broader context, <strong>relatively</strong> to all the other words in your dataset?</div>
						
					<div class="result numerization">
						<div class="a input-element">
							{% if numerization == "False" %}
								<div class="emptyresults">no result</div>
							{% else %}
								{% if lines %}
									{% for i, item in lines.a.items() %}
										{% set outer_loop = loop %}
										{% for word, wlitem in item.wordlist.items() %}
											<div class="popup-button" name="num-a-{{loop.index}}">
												<strong>{{ word }}</strong> 
												&rarr; 
												{% if numerization == "TF" %}
													{{ wlitem['tf'] }}
												{% endif %}
												{% if numerization == "TFIDF" %}
													{{ wlitem['tfidf'] }}						
												{% endif %}
											</div>
											<div id="num-a-{{loop.index}}" class="popup">
												<div class="popup-wrapper">
													<!-- buttons -->
													<div class="button-wrapper">
														<div class="include-word"></div>
														<div class="close-popup"><u>close</u></div>
													</div>
													<div class="result a">
														{% if numerization == "TF" %}
															<div>{{ item['sentence'] }}</div>
														{% endif %}
														{% if numerization == "TFIDF" %}
															{% for s in wlitem['sentences'] %}
																<div class="sentence">{{ s }}</div>
															{% endfor %}
														{% endif %}
													</div>
												</div>
											</div>
										{% endfor %}
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
						<div class="b input-element">
							{% if numerization == "False" %}
								<div class="emptyresults">no result</div>
							{% else %}
								{% if lines %}
									{% for i, item in lines.b.items() %}
										{% set outer_loop = loop %}
										{% for word, wlitem in item.wordlist.items() %}
											<div class="popup-button" name="num-b-{{loop.index}}">
												<strong>{{ word }}</strong> 
												&rarr; 
												{% if numerization == "TF" %}
													{{ wlitem['tf'] }}
												{% endif %}
												{% if numerization == "TFIDF" %}
													{{ wlitem['tfidf'] }}						
												{% endif %}
											</div>
											<div id="num-b-{{loop.index}}" class="popup">
												<div class="popup-wrapper">
													<!-- buttons -->
													<div class="button-wrapper">
														<div class="include-word"></div>
														<div class="close-popup"><u>close</u></div>
													</div>
													<div class="result b">
														{% if numerization == "TF" %}
															<div>{{ item['sentence'] }}</div>
														{% endif %}
														{% if numerization == "TFIDF" %}
															{% for s in wlitem['sentences'] %}
																<div class="sentence">{{ s }}</div>
															{% endfor %}
														{% endif %}
													</div>
												</div>
											</div>
										{% endfor %}
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<!-- ******************************************************************* -->

			<div id="submit" class="step" name="submit">
				<div class="content">
					<h2>submit</h2>

					<input id="numerization" class="" type="submit" value="submit these settings">
					<img id="numerization" class="loading_img" src="../img/loading.gif">

				</div>
			</div>
			
			{% if method == 'POST' %}

			<!-- ******************************************************************* -->

			<div id="graduallens" class="step" name="graduallens">
				<div class="content">
					<h2>gradual lens</h2>
					<small>current numerization mode: {{numerization}}</small><br>
					<div class="opposition fullwidth"></div>
					<div class="input-element a">{{ a_label }}</div>

					{% for item in vectors_a %}
						{% set outer_loop = loop %}
						<div>
							<strong>-{{item[0]}}</strong> 
							&rarr; 
							{% for w in item[1]%}
								<span class="popup-button" name="lens_a_{{outer_loop.index}}-{{loop.index}}">{{w[0]}}</span>
								<span class="space"></span>
								<div id="lens_a_{{outer_loop.index}}-{{loop.index}}" class="popup">
									<div class="popup-wrapper">
										<!-- buttons -->
										<div class="button-wrapper">
											<div class="include-word"></div>
											<div class="close-popup"><u>close</u></div>
										</div>
										<div class="result a">
											<div>{{w[1]}}</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					{% endfor %}
					{% for item in vectors_b %}
						{% set outer_loop = loop %}
						<div>
							<strong>{{item[0]}}</strong> 
							&rarr; 
							{% for w in item[1]%}
								<span class="popup-button" name="lens_b_{{outer_loop.index}}-{{loop.index}}">{{w[0]}}</span>
								<span class="space"></span>
								<div id="lens_b_{{outer_loop.index}}-{{loop.index}}" class="popup">
									<div class="popup-wrapper">
										<!-- buttons -->
										<div class="button-wrapper">
											<div class="include-word"></div>
											<div class="close-popup"><u>close</u></div>
										</div>
										<div class="result b">
											<div>{{w[1]}}</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					{% endfor %}

					<div class="input-element b">{{ b_label }}</div>
					<div class="opposition fullwidth right"></div>
				</div>
			</div>

			<!-- ******************************************************************* -->

			<!-- <div id="printlens" class="step">
				<div class="content">
					<h2>print</h2>
					<div>print your input material, ordered by your gradual lens</div>
					<button id="printlens" class="" type="button" onclick="printDiv(graduallens);">print gradual lens</button>
				</div>
			</div> -->

			<!-- ******************************************************************* -->
			
			<div id="write" class="step">
				<div id="results" class="content">
					<h2 class="exercise">a little writing exercise</h2>
					{% if lines %}
						<div class="input-element">
							<div class="input-element a">generate a statement with your <strong>{{ a_label }}</strong> vocabulary</div>
							<div id="results-info-a" class="writing-options">
								{% for vec in vectors_a %}
									-{{vec[0]}} &rarr;
									{% for w in vec[1]%}
										<div class="option popup-button" name="a-{{w[0]}}" data-word="{{w[0]}}">{{ w[0] }}</div>
										{% for i, item in lines.a.items() %}
											{% for word, wlitem in item.wordlist.items() %}
												{% if w[0] == word %}
													<div id="a-{{w[0]}}" class="popup">
														<div class="popup-wrapper">
															<div class="button-wrapper">
																<div class="include-word" name="a-{{w[0]}}" data-word="{{word}}" data-cat="a" data-sentence="{{item.sentence}}" data-tf="{{wlitem.tf}}" data-tfidf="{{wlitem.tfidf}}" data-numerization="{{numerization}}" data-filter="{{item.filter}}" data-licence="{{licence}}"><u>include word</u></div>
																<div class="close-popup"><u>close</u></div>
															</div>
															<div class="result a">
																<div><strong>word</strong>: {{ word }}</div>
																<div><strong>word types filter</strong>: {{ item.filter }}</div>
																<div><strong>numerization</strong>: {{ numerization }}</div>
																{% if numerization == "TF" %}
																	<div><strong>tf</strong>: -{{ wlitem.tf }}</div>
																{% endif %}
																{% if numerization == "TFIDF" %}
																	<div><strong>tfidf</strong>: -{{ wlitem.tfidf }}</div>
																	<div><strong>category vector</strong>: 
																		<span class="show" name="a-catvector-{{loop.index}}" style="color:black;"><u>show</u></span>
																		<div id="a-catvector-{{loop.index}}" class="catvector" style="display:none;">{{ item.categoryvector }}</div>
																	</div>
																{% endif %}
																<div><strong>lemma</strong>: {{ item.lemma }}</div>
																<div><strong>stopwords</strong>: {{ item.stopwords }}</div>
																<div><strong>sentences</strong>:
																	<span class="show" name="a-sentences-{{loop.index}}" style="color:black;"><u>show</u></span>
																	<div id="a-sentences-{{loop.index}}" class="catvector" style="display:none;">
																		{% for s in wlitem.sentences %}
																			<div class="sentence">{{s}}</div>
																		{% endfor %}
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endif %}
											{% endfor %}
										{% endfor %}
									{% endfor %}
								{% endfor %}
							</div>
							<div class="sum-wrapper">
								<div id="sum-a" class="a" style="display:none;">
									<span>strength of <strong>{{ a_label }}</strong> vocabulary:</span>
									<span id="output-counter-a" data-i="0"></span>*<br>
								</div>
							</div>
							<div class="output-wrapper">
								{% if saved == "saved" %}
									<code id="writing-output-a" contenteditable="true">{{sentence_a}}</code>
								{% else %}
									<code id="writing-output-a" contenteditable="true"></code>
								{% endif %}
							</div>
						</div>
						<div class="input-element right">
							<div class="input-element b">generate a statement with your <strong>{{ b_label }}</strong> vocabulary</div>
							<div id="results-info-b" class="writing-options">
								{% for vec in vectors_b %}
									{{vec[0]}} &rarr;
									{% for w in vec[1]%}
										<div class="option popup-button" name="b-{{w[0]}}" data-word="{{w[0]}}">{{ w[0] }}</div>
										{% for i, item in lines.b.items() %}
											{% for word, wlitem in item.wordlist.items() %}
												{% if w[0] == word %}
													<div id="b-{{w[0]}}" class="popup">
														<div class="popup-wrapper">
															<div class="button-wrapper">
																<div class="include-word" name="b-{{w[0]}}" data-word="{{word}}" data-cat="b" data-sentence="{{item.sentence}}" data-tf="{{wlitem.tf}}" data-tfidf="{{wlitem.tfidf}}" data-numerization="{{numerization}}" data-filter="{{item.filter}}" data-licence="{{licence}}"><u>include word</u></div>
																<div class="close-popup"><u>close</u></div>
															</div>
															<div class="result b">
																<div><strong>word</strong>: {{ word }}</div>
																<div><strong>word types filter</strong>: {{ item.filter }}</div>
																<div><strong>numerization</strong>: {{ numerization }}</div>
																{% if numerization == "TF" %}
																	<div><strong>tf</strong>: {{ wlitem.tf }}</div>
																	<div><strong>document</strong>: 
																		<span class="show" name="b-doc-{{loop.index}}" style="color:black;"><u>show</u></span>
																		<div id="b-doc-{{loop.index}}" class="catvector" style="display:none;">{{ item.document.vector.items() }}</div>
																	</div>
																{% endif %}
																{% if numerization == "TFIDF" %}
																	<div><strong>tfidf</strong>: {{ wlitem.tfidf }}</div>
																	<div><strong>category vector</strong>: 
																		<span class="show" name="b-catvector-{{loop.index}}" style="color:black;"><u>show</u></span>
																		<div id="b-catvector-{{loop.index}}" class="catvector" style="display:none;">{{ item.categoryvector }}</div>
																	</div>
																{% endif %}
																<div><strong>lemma</strong>: {{ item.lemma }}</div>
																<div><strong>stopwords</strong>: {{ item.stopwords }}</div>
																<div><strong>sentences</strong>:
																	<span class="show" name="b-sentences-{{loop.index}}" style="color:black;"><u>show</u></span>
																	<div id="b-sentences-{{loop.index}}" class="catvector" style="display:none;">
																		{% for s in wlitem.sentences %}
																			<div class="sentence">{{s}}</div>
																		{% endfor %}
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endif %}
											{% endfor %}
										{% endfor %}
									{% endfor %}
								{% endfor %}
							</div>
							<div class="sum-wrapper">
								<div id="sum-b" class="b">
									<span>strength of <strong>{{ b_label }}</strong> vocabulary:</span>
									<span id="output-counter-b" data-i="0"></span>*<br>
								</div>
							</div>
							<div class="output-wrapper">
								{% if saved == "saved" %}
									<code id="writing-output-b" contenteditable="true">{{sentence_b}}</code>
								{% else %}
									<code id="writing-output-b" contenteditable="true"></code>
								{% endif %}
							</div>
						</div>
					{% endif %}
					<div id="popup-remove" style="display:none;"></div>
					<small id="note" style="display:none;">*avarage of selected words</small>
					<small class="refresh">Refresh to clear your sentences:</small> <div id="refreshInline">refresh</div>
				</div>
			</div>

			<!-- ******************************************************************* -->

			<div id="exportwrapper" class="step">
				<div class="content">
					<div id="export">
						<h1>Export</h1>
						Export these results with the following credits.
						Source: <input id="source" type="text" name="source" value="{% if source %}{{source}}{% endif %}">, 
						author(s): <strong>{% if author %}{{author}}{% endif %}</strong><span id="another" class="author"></span><button id="add" class="export">add one more author</button>, 
						filename: <input id="filename" type="text" name="filename" value="{% if title %}{{title}}{%endif%}">
						<button id="save" name="pdf">.pdf</button><img id="pdf" class="loading_img" src="../img/loading.gif">
						<button id="save" name="html">.html</button><img id="html" class="loading_img" src="../img/loading.gif"></button>
						<div id="save-return"></div>
						<br>
					</div>
				</div>
			</div>
			{% endif %}
			
			<!-- ******************************************************************* -->
		
			<div id="colophon" class="step">
				<div class="content">

					<div style="max-width:1000px;margin:20px auto;padding:20px 0px;font-size:16px;">
						i-could-have-written-that is a series of writing experiments that aim to explore the technical, social and poetic mechanisms of text based machine learning. By focussing on three types of techniques, a rule-based-learning, supervised-machine learning and unsupervised-machine learning, an hands-on experience is offered within a browser interface.<br><br>This project is kindly supported by CBK Rotterdam.
					</div>

				</div>

			</div>
			
			<!-- ******************************************************************* -->
		
			<textarea id="sentence_a" name="sentence_a" style="display:none;"></textarea>
			<textarea id="sentence_b" name="sentence_b" style="display:none;"></textarea>
			<textarea id="graduallens" name="graduallens" style="display:none;"></textarea>
		</form>
	</div>
</div>
</body>
</head>
<script type="text/javascript">

	function toAnchor(anchor){
		if(anchor){
			$('html, body').animate({
				scrollTop: $(anchor).offset().top
			}, 500, function(){
				location.hash = anchor;
			});
		}
	}
	var state = "{{state}}";
	console.log(state);
	if(state == "filter"){
		toAnchor('#'+state);
		var state = "FILTER {{state}}";
		console.log(state);
	}
	if(state == "numerization"){
		toAnchor('#'+state);
		console.log(state);	
	}

	$(window).resize(function(){
		toAnchor(location.hash);		
	});

	function refresh(){
		location.reload(function(){
			$('#writing-output-a').val("");
			$('#writing-output-b').val("");
		});
		toAnchor(location.hash);
	}
	$('#refresh, #refreshInline').click(function(){
		refresh();
	});
	$('#restart').click(function(){
		location = "./writing-machine.cgi";
	});
	$('.navitem').click(function(){
		var name = $(this).attr('name');
		toAnchor('#'+name);
	});

	// pop ups
	$('.popup-button').click(function(){
		var name = $(this).attr('name');
		console.log(name);
		$('#'+name).show();
	});
	$('.close-popup').click(function(){
		$('.popup').hide();
	});

	$('.include-word').click(function(){
		var name = $(this).attr('name'),
			cat = $(this).data('cat'),
			word = $(this).data('word'),
			tf = $(this).data('tf'),
			tfidf = $(this).data('tfidf'),
			sentence = $(this).data('sentence'),
			numerization = $(this).data('numerization'),
			licence = $(this).data('licence'),
			filter = $(this).data('filter');
		if(numerization == "TF"){
			new_count = tf;
			fontsize = tf;
		}
		if(numerization == "TFIDF"){
			new_count = tfidf;
			fontsize = tf;
		}
		if(new_count == "not vectorized"){  
			new_count = parseFloat(0);
		}
		current_count = parseFloat($('#output-counter-'+cat).html());
		if(!current_count){ // reset writing area when page is refreshed
			current_count = parseFloat(0);
		}		
		var current_i = parseInt($('#output-counter-'+cat).data('i')),
			i = current_i + 1,
			element = '<span class="outputword" name="'+name+'" data-fontsize="'+fontsize+'" data-sentence="'+sentence+'" data-word="'+word+'" data-tf="'+tf+'" data-tfidf="'+tfidf+'" data-filter="'+filter+'" data-numerization="{{numerization}}" data-cat="'+cat+'" data-a_label="{{a_label}}" data-b_label="{{b_label}}" data-title="{{title}}" data-email="{{email}}" data-author="{{author}}" data-terms="{{terms}}" data-licence="'+licence+'">'+word+'</span>',
			counter = (current_count + new_count) / i;
		$('#writing-output-'+cat).html($('#writing-output-'+cat).html() + element + '<span> </span>');
		$('#output-counter-'+cat).html(counter);
		$('#output-counter-'+cat).data("i", i);
		$('#sum-'+cat).show();
		$('#note').show();
		$('.popup').hide();
		toAnchor("#write");
	});

	$('.show').click(function(){
		var name = $(this).attr('name'), 
			val = $(this).text();
		$('#'+name).toggle("slow");
		if(val == 'show'){
			$(this).html('<u>hide</u>');
		}
		else{
			$(this).html('<u>show</u>');
		}
	});

	// crowd-annotated sources
	$('button.request').click(function(e){
		e.preventDefault();
		var id = $(this).attr('id');
		var name = $(this).attr('name');
		$("img#"+name).addClass("loading");
		$.ajax({
			url: name+".cgi",
			method: "get",
			data: {
				a_label : $('#a_label').val(),
				b_label : $('#b_label').val()
			},
			dataType: "json",
			success: function(data){
				console.log('received:', data);
				$("img#"+name).removeClass("loading");
				$("#a_text").val(data.a_output.join("\n"));
				$("#b_text").val(data.b_output.join("\n"));
			}
		})
		toAnchor("#"+id);
	});

	$(window).load(function(){
		toAnchor(location.hash);	
	});


	$('button#add.export').click(function(e){
		e.preventDefault();
		i = 1;
		$('#another.author').append(', <input class="author" type="text" name="author" value=""> ');
		i =+ 1;
	});

	$('button#save').click(function(e){
		e.preventDefault();
		var name = $(this).attr('name');
		$("img#"+name).show();
		var results = $('#results').html();
		var source = $('#source').val();
		var title = $('#title').val();
		author = '';
		$('input.author').each(function(){
			if(author != ''){
				author = author + ', ' +($(this).val());
			}
			else{
				author = $(this).val();
			}
		});
		var filename = $('#filename').val();
		$.ajax({
			url: "export.cgi",
			method: "post",
			data: {
				filename : filename,
				extension : name,
				results : results,
				author : author,
				source : source,
				title : title
			},
			dataType: "html",
			success: function(){
				$("img#"+name).hide();
				if(name == 'html'){
					var win = window.open('/output/html/'+filename+'.html', '_blank');
				}
				if(name == 'pdf'){
					var win = window.open('/output/pdf/'+filename+'.pdf', '_blank');
				}
				if (win) {
					win.focus();
				} else {
					alert('Please allow popups for this website');
				}
			}
		})
	});

</script>
</html>
