/* ---- Document Styles ---- */
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: left;}
h5 {text-align: left;}
h6 {text-align: left;}
.ind {text-indent: 2em;}
.noind {text-indent: 0;}
.lnoind {
	text-align: left;
	text-indent: 0;
}
.center {
	text-align: center;
	text-indent: 0;
}
.right {
	text-indent: 0;
	text-align: right;
}
.left {text-align: left;}
.copy1 {
	font-size: 0.6em;
	text-indent: 0;
	text-align: left;
}
.copy2 {
	font-size: 0.6em;
	text-indent: 0;
	margin-top: 20px;
	text-align: left;
}
.toc1 {text-align: center;
	text-indent: 0;}
.toc2 {text-align: center;
	text-indent: 0;}
.toc3 {text-align: left;}
.toc4 {text-align: left;}
.toc5 {text-align: left;}
.toc6 {text-align: left;}
.toc7 {text-align: left;}
.toc8 {text-align: left;}
.toc9 {text-align: left;}
.idx1 {text-align: left;}
.idx2 {text-align: left;}
.idx3 {text-align: left;}
.idx4 {text-align: left;}
.idx5 {text-align: left;}
.idx6 {text-align: left;}
.idx7 {text-align: left;}
.idx8 {text-align: left;}
.idx9 {text-align: left;}
.poem1 {text-align: left;}
.poem2 {text-align: left;}
.poem3 {text-align: left;}
.poem4 {text-align: left;}
.poem5 {text-align: left;}
.poem6 {text-align: left;}
.poem7 {text-align: left;}
.poem8 {text-align: left;}
.poem9 {text-align: left;}
.hang2 {text-align: left;}
.note {
	text-indent: 0;
	text-align: left;
	margin-top: 20px;
}
.caption {
	text-align: center;
	text-indent: 0;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 30px;
}
.break {
	text-align: center;
	text-indent: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}
.top {margin-top: 30px;}
.bottom {margin-bottom: 30px;}
.topbottom {
	margin-top: 30px;
	margin-bottom: 30px;
}
.gray {color:#505050;}
ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
ul ul {
	margin-top: 0;
	margin-bottom: 0;
}
ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
ul ol {
	margin-top: 0;
	margin-bottom: 0;
}
ol {
	margin-top: 30px;
	margin-bottom: 30px;
}
ul {
	margin-top: 30px;
	margin-bottom: 30px;
}
div.lettertype {
	margin: 20px;
}
div.letterhand {
	margin: 20px;
}
div.pullquoteright {
	margin: 20px;
}
div.pullquoteright p {
	text-indent: 0;
	text-align: center;
}
div.pullquoteleft {
	margin: 20px;
}
div.pullquoteleft p {
	text-indent: 0;
	text-align: center;
}
div.box {
	margin: 20px;
}
div.image {
	margin: 30px 0;
}
/* ---- ORIM Advertisement ---- */
div.orange_box {
	margin: 30px;
	padding: 30px;
	border: none;
	background-color:#ef3f35;
	border-radius: 15px;
}
.sans_bold {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
}
.sans_normal {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:black;
}
.sans_normal a:link{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:black;
}
.sans_normal a:hover{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:black;
}
.sans_normal a:active{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:black;
}
.sans_normal a:visited{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:red;
}
.sans_normal_red {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:red;
}
.sans_normal_red a:link{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:red;
}
.sans_normal_red a:hover{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:red;
}
.sans_normal_red a:active{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:red;
}
.sans_normal_red a:visited{
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:red;
}
.sans_orange {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#ef3f35;
 -webkit-text-fill-color:#ef3f35;
}
.sans_orange a:link {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#ef3f35;
 -webkit-text-fill-color:#ef3f35;
}
.sans_orange a:visted {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#ef3f35;
 -webkit-text-fill-color:#ef3f35;
}
.sans_orange a:hover {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#ef3f35;
 -webkit-text-fill-color:#ef3f35;
}
.sans_orange a:active {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#ef3f35;
 -webkit-text-fill-color:#ef3f35;
}
.sans_white_bold {
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
	color:#FFFFFF;
 -webkit-text-fill-color:#FFFFFF;
}
.sans_white {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:#FFFFFF;
 -webkit-text-fill-color:#FFFFFF;
}
.sans_white a:link {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:#FFFFFF;
 -webkit-text-fill-color:#FFFFFF;
}
.sans_white a:visted {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:#FFFFFF;
 -webkit-text-fill-color:#FFFFFF;
}
a.sans_white:hover {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:#FFFFFF;
 -webkit-text-fill-color:#FFFFFF;
}
a.sans_white:active {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	color:#FFFFFF;
 -webkit-text-fill-color:#FFFFFF;
}
.sans_bold_brown {
	font-weight:bold;
	font-family:sans-serif;
	font-style:normal;
	color:#543b26;
 -webkit-text-fill-color:#543b26;
}
.sans_normal_brown {
	font-weight:normal;
	font-family:sans-serif;
	font-style:normal;
	color:#543b26;
 -webkit-text-fill-color:#543b26;
}
/* ---- MP Advertisement ---- */
.mp_box {
	background-color:#c0b9b6;
	margin: 30px;
	padding: 30px;
	background-color:#c0b9b6;
}
.mp_link_gray a:link {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#6b6a69;
 -webkit-text-fill-color:#6b6a69;
}
.mp_link_gray a:visted {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#6b6a69;
 -webkit-text-fill-color:#6b6a69;
}
.mp_link_gray a:hover {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#6b6a69;
 -webkit-text-fill-color:#6b6a69;
}
.mp_link_gray a:active {
	font-weight: bold;
	font-family: sans-serif;
	font-style: normal;
	color:#6b6a69;
 -webkit-text-fill-color:#6b6a69;
}
.mp_link_black_bold a:link {
	font-weight: bold;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}
.mp_link_black_bold a:visted {
	font-weight: bold;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}
.mp_link_black_bold a:hover {
	font-weight: bold;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}
.mp_link_black_bold a:active {
	font-weight: bold;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}
.mp_link_black_normal a:link {
	font-weight: normal;
	font-family: sans-serif;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}
.mp_link_black_normal a:visted {
	font-weight: normal;
	font-family: sans-serif;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}
.mp_link_black_normal a:hover {
	font-weight: normal;
	font-family: sans-serif;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}
.mp_link_black_normal a:active {
	font-weight: normal;
	font-family: sans-serif;
	font-style: normal;
	color:#000000;
 -webkit-text-fill-color:#000000;
}



/* ---- Default Styles ---- */
@page {
    margin-top: 30px;
    margin-bottom: 20px;
}
body {
    margin-right: 30px;
    margin-left: 30px;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	  page-break-after:avoid;
    -webkit-hyphens: none !important; 
    -moz-hyphens: none !important; 
    adobe-hyphenate: none !important; 
    hyphens: none !important;
}

/* ---- Paragraphs ---- */
p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
}
.ind {text-indent:2em;}
.poem1, .poem2, .poem3, .poem4, .poem5, .poem6, .poem7, .poem8, .poem9 {
		text-align: left;
}
.toc3, .toc4, .toc5, .toc6, .toc7, .toc8, .toc9 {
		text-align: left;
}
.biblio {
		text-align: left;
}
.poem1, .hang1, .list1, .biblio{
    text-indent: -30px;
    margin-left: 30px;
}
.poem2, .hang2, .list2{
    text-indent: -30px;
    margin-left: 60px;
}
.poem3, .toc3, .hang3, .list3{
    text-indent: -30px;
    margin-left: 90px;
}
.poem4, .toc4, .hang4, .list4{
    text-indent: -30px;
    margin-left: 120px;
}
.poem5, .toc5, .hang5, .list5{
    text-indent: -30px;
    margin-left: 150px;
}
.poem6, .toc6, .hang6, .list6{
    text-indent: -30px;
    margin-left: 180px;
}
.poem7, .toc7, .hang7, .list7{
    text-indent: -30px;
    margin-left: 210px;
}
.poem8, .toc8, .hang8, .list8{
    text-indent: -30px;
    margin-left: 240px;
}
.poem9, .toc9, .hang9, .list9{
    text-indent: -30px;
    margin-left: 270px;
}
.poem1init {
    text-indent: -35px;
    margin-left: 30px;
    text-align: left;
}
.poem2init {
    text-indent: -35px;
    margin-left: 60px;
    text-align: left;
}
.poem3init {
    text-indent: -35px;
    margin-left: 90px;
    text-align: left;
}
.poem4init {
    text-indent: -35px;
    margin-left: 120px;
    text-align: left;
}
.poem5init {
    text-indent: -35px;
    margin-left: 150px;
    text-align: left;
}
.poem6init {
    text-indent: -35px;
    margin-left: 180px;
    text-align: left;
}
.poem7init {
    text-indent: -35px;
    margin-left: 210px;
    text-align: left;
}
.poem8init {
    text-indent: -35px;
    margin-left: 240px;
    text-align: left;
}
.poem9init {
    text-indent: -35px;
    margin-left: 270px;
    text-align: left;
}

.idx1 {
    text-indent: -40px;
    margin-left: 40px;
    text-align: left;
}
.idx2 {
    text-indent: -40px;
    margin-left: 70px;
    text-align: left;
}
.idx3 {
    text-indent: -40px;
    margin-left: 100px;
    text-align: left;
}
.idx4 {
    text-indent: -40px;
    margin-left: 130px;
    text-align: left;
}
.idx5 {
    text-indent: -40px;
    margin-left: 160px;
    text-align: left;
}
.idx6 {
    text-indent: -40px;
    margin-left: 190px;
    text-align: left;
}
.idx7 {
    text-indent: -40px;
    margin-left: 220px;
    text-align: left;
}
.idx8 {
    text-indent: -40px;
    margin-left: 250px;
    text-align: left;
}
.idx9 {
    text-indent: -40px;
    margin-left: 280px;
    text-align: left;
}
.copy1 {
    font-size: 0.9em;
}
.copy2 {
    font-size: 0.9em;
}

/* ---- Lists ---- */
ol.decimal {list-style-type: decimal;}
ol.upper-alpha {list-style-type: upper-alpha;}
ol.lower-alpha {list-style-type: lower-alpha;}
ol.upper-roman {list-style-type: upper-roman;}
ol.lower-roman {list-style-type: lower-roman;}
ul.disc {list-style-type: disc;}
ul.circle {list-style-type: circle;}
ul.square {list-style-type: square;}
li {
    line-height: 1.5em;
    text-align: justify;
}

/* ---- Table ---- */
table {
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 4px;
}
table.border {
    border: 1px solid black;
}
table.border th, table.border td {
    border: 1px solid black;
}
/* ---- Divs ---- */
div.lettertype {
    margin: 30px;
}
div.letterhand {
    margin: 30px;
}
div.pullquoteright {
    float: right;
    margin: 15px 0 15px 15px;
    padding: 15px 0;
    width: 150px;
    border-top: 3px double #505050;
    border-bottom: 3px double #505050;
}
div.pullquoteleft {
    float: left;
    margin: 15px 15px 15px 0;
    padding: 15px 0;
    width: 150px;
    border-top: 3px double #505050;
    border-bottom: 3px double #505050;
}
div.pullquoteleft p, div.pullquoteright p {
    text-indent: 0;
    text-align: center;
    font-size: 1.2em;
}
div.box {
    margin: 30px;
    padding: 15px;
    border: 1px solid black;
}
div.image {
    margin: 30px 0;
}

/* ---- Other ---- */
blockquote {
    margin-top: 0;
    margin-bottom: 0;
}
blockquote p {
    text-indent:0;
}
sup {
    font-size: 0.8em;
    vertical-align: 5px;
}
sub {
    font-size: 0.8em;
    vertical-align: -5px;
}
sup.frac {
	font-size: 0.6em;
	vertical-align: 0.5em;
	line-height: 0;
}
sub.frac {
	font-size: 0.6em;
	vertical-align: -0.1em;
	line-height: 0;
}
.underline {text-decoration: underline;}
.strike {text-decoration: line-through;}
.code, code {font-family: "Courier New", "Courier", monospace;}
span.dropcap {
	font-size: 3.2em;
	font-weight: bold;
	line-height: 1;
	height: 0.9em;
	float: left;
	margin: 0 0.1em 0 0;
}
img {
  width: auto;
  max-width: 100%;
}
img#coverimage {
  padding: 0;
  margin: 0;
}
