.toc1{
    text-align:center;
    margin-top: 60px;
}
.toc2{
    text-align:center;
    margin-top:0px;
}


.block {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 50pt 0 0
    }
.block2 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 30pt 0 0
    }
.block3 {
    display: block;
    font-size: 0.75em;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block4 {
    display: block;
    font-size: 0.75em;
    padding: 0;
    margin: 0
    }
.block5 {
    display: block;
    font-size: 0.75em;
    padding: 0;
    margin: 30pt 0 0
    }
.block6 {
    font-size: 1em
    }
.block7 {
    display: block;
    text-indent: 23.8pt;
    padding: 0;
    margin: 0
    }
.block8 {
    display: block;
    padding: 0;
    margin: 20pt 0 0
    }
.block9 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 30pt 0 0
    }
.block10 {
    display: block;
    font-style: italic;
    text-indent: 0;
    padding: 0;
    margin: 12pt 0 0 36pt
    }
.block11 {
    display: block;
    padding: 0;
    margin: 30pt 0 0
    }
.block12 {
    display: block;
    font-weight: bold;
    text-align: left;
    padding: 0;
    margin: 0
    }
.block13 {
    display: block;
    font-style: italic;
    text-indent: 23.8pt;
    padding: 0;
    margin: 0
    }
.block14 {
    display: block;
    font-style: italic;
    text-indent: 0;
    padding: 0;
    margin: 12pt 0 0 27pt
    }
.block15 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: right;
    text-indent: 23.8pt;
    padding: 0;
    margin: 0
    }
.block16 {
    display: block;
    text-align: right;
    text-indent: 23.8pt;
    padding: 0;
    margin: 0
    }
.block17 {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block18 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block19 {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block20 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    padding: 0;
    margin: 0
    }
.block21 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-indent: 23.8pt;
    padding: 0;
    margin: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    display: block;
    padding: 0;
    margin: 0
    }
.calibre5 {
    display: block;
    padding: 0;
    margin: 0
    }
.text {
    font-size: 1.33333em
    }
.text1 {
    font-variant: small-caps
    }
