@font-face{
	font-family: "fantasque";
	src:url("fonts/FantasqueSansMono-Bold.ttf");
	font-weight: bold;
}
@font-face{
	font-family: "fantasque";
	src:url("fonts/FantasqueSansMono-Regular.ttf");
}
body{
	font-family: "fantasque", monospace;
	line-height: 1.2;
}
#count, #list{
	position: relative;
	width: 100%;
	margin:0;
	padding:0;
	text-align: center;
}
#count .text{
	width: 700px;
	font-size: 12px;
	margin:0 auto;
}
#count .number{
	width: 100%;
	font-size: 120px;
	margin:50px 0;
	line-height: 0.5;
	font-weight: bold;
}

#list{
	font-size: 12px;
	text-align: left;
	-moz-columns:8 auto;
	columns:8 auto;
}
#list .word{
	display: inline-block;
	width: calc(100% - 60px);
}
#list .word:nth-child(even){
	float: left;
	width: 35px;
}