<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/modality.css">
	<script type="text/javascript" src="../js/jquery-2.1.3.js"></script>
	<meta charset="utf-8">	
</head>
<body>
	<div id="wrapper">
		<form action="" method="post">		

			<h1>rule-based certainty</h1>
			{% if method == 'GET' %}
				<div>
					<h2>Modality.py</h2>
					<div>
						This writing system is based on the existing rule-based script <em>modality.py</em>, and is distributed as part of the text-mining software package Pattern.
					</div>
					<h2>Instructions</h2>
					<div>
						* Set the rules below by adding words to each value.
					</div>
					<div>
						* To remove one of the words, delete the word and leave the field empty.
					</div>
				</div><br>
			{% endif %}

			<h2 id="parameters">set the rules:</h2>
			{% for type, dict in parameters.items() %}
			<div id="parameters">
				<table id="{{ type }}">
				{% for value in values %}
					{% for key, words in dict.items() %}
						{% if key == value %}
							<tr>
								<td class="key">
									<small>{{ key }}</small>
								</td>
								<td>
								{% for word in words %}
									<input class="{{ key }}" name="parameter_{{ type }}{{ key }}" type="text" value="{{ word }}">,
								{% endfor %}
								<span id="another" class="word"></span>
								<button id="add" class="word" type="{{ type }}" name="{{ key }}">add word</button>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</table>
			</div>
			{% endfor %}

			<h2>apply these rules to the following text:</h2>
			<textarea name="input" rows="20">{% if input %}{{ input }}{% endif %}</textarea>
			<br>
			<input type="submit" value="submit">
		</form>

		{% if input %}
			<div id="results">		

				<h2 id="unsorted">Reading</h2>
				<div>{{ html }}</div>
				<br>
				<br>

				<h2 id="sorted">Sorted reading</h2>
				<div>{{ sorted_html }}</div>
				<br>

			</div>

			<br>

			<div id="export">
				<h1>Export</h1>
				Export these results with the following credits.
				<input id="title" type="hidden" name="title" value="Reading modality.py">
				Source: <input id="source" type="text" name="source" value="{% if source %}{{source}}{% endif %}">, 
				author(s): <input class="author" type="text" name="author" value="{% if author %}{{author}}{% endif %}"> <span id="another" class="author"></span><button id="add" class="export">add one more author</button>, 
				filename: <input id="filename" type="text" name="filename" value="{{filename}}">
				<button id="save" name="pdf">.pdf</button><img src="../img/loading.gif" class="loading" id="pdf" />
				<button id="save" name="html">.html</button><img src="../img/loading.gif" class="loading" id="html" />
				<div id="save-return"></div>
				<br>
			</div>
		{% endif %}
	</div>
</body>	
<script type="text/javascript">

	$('small.toggle').click(function(e){
		e.preventDefault();
		var name = $(this).attr('name');
		$('table#'+name).toggle();
	});

	$('button#add.word').click(function(e){
		e.preventDefault();
		type = $(this).attr('type');
		key = $(this).attr('name');
		i = 1;
		$(this).prev().append('<input class="word '+key+'" type="text" name="parameter_'+type+key+'" value=""/>, ');
		i =+ 1;
	});
	$('button#add.export').click(function(e){
		e.preventDefault();
		i = 1;
		$('#another.author').append(', <input class="author" type="text" name="author" value=""> ');
		i =+ 1;
	});

	$('button#save').click(function(e){
		e.preventDefault();
		var name = $(this).attr('name');
		$("img#"+name).show();
		var parameters = $('div#parameters').html();
		var results = $('#results').html();
		var source = $('#source').val();
		var title = $('#title').val();
		author = '';
		$('input.author').each(function(){
			if(author != ''){
				author = author + ', ' +($(this).val());
			}
			else{
				author = $(this).val();
			}
		});
		var filename = $('#filename').val();
		$.ajax({
			url: "export.cgi",
			method: "post",
			data: {
				filename : filename,
				extension : name,
				parameters : parameters,
				results : results,
				author : author,
				source : source,
				title : title
			},
			dataType: "html",
			success: function(){
				$("img#"+name).hide();
				if(name == 'html'){
					var win = window.open('/output/html/'+filename+'.html', '_blank');
				}
				if(name == 'pdf'){
					var win = window.open('/output/pdf/'+filename+'.pdf', '_blank');
				}
				if (win) {
					win.focus();
				} else {
					alert('Please allow popups for this website');
				}
			}
		})
	});

</script>
</html>