<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
	<meta Content-Type: text/html; charset="utf-8">	
	<script type="text/javascript" src="../js/jquery-2.1.3.js"></script>
</head>
<body>
	<form action="" method="post">
		<div id="wrapper">

			<h1 id="title">
				{% if title %}
					{{ title }}
				{% else %}
					<input id="titled" type="text" name="title" value="Enter a title here">
				{% endif%}
			</h1>


			<h1>Input</h1>
			<textarea name="input_text" rows="20">{{ input_text }}</textarea>
			<input type="submit" value="submit">

			{% if method == 'POST'%}
				<div id="results">
				<h1>Results</h1>

					<!-- print results here -->

					<!-- for example -->
					<div class="lowercase">{{ lowercase }}</div>

				</div>
			{% endif %}
		</div>
		{% if method == 'POST'%}
			{% if export == 'enabled' %}
				<div id="export-wrapper">
					<div id="export-container">
						<h1>Export</h1>
						Export these results with the following credits. 
						<br>source: <input id="source" type="text" name="source" value="{% if source %}{{ source }}{% endif %}" required>, 
						<br>author(s): 
							{% if author %}
								{% for a in author %}
								<input class="author" type="text" name="author" value="{{a}}" required>
								{% endfor %}
							{% else %}
								<input class="author" type="text" name="author" required>
							{% endif %}
						<span id="another" class="author"></span><button id="addauthor" class="export">add one more author</button>, 
						<br>filename: <input id="filename" type="text" name="filename" value="{{ filename }}" required>
						<br><input id="export" name="pdf" type="submit" value=".pdf"><img src="../img/loading.gif" class="loading" id="pdf" />
						<input id="export" name="html" type="submit" value=".html"><img src="../img/loading.gif" class="loading" id="html" />.
					</div>
				</div>
			{% endif %}
		{% endif %}
	</form>
</body>	
<script type="text/javascript">

	$('button#addauthor').click(function(e){
		e.preventDefault();
		i = 1;
		$('#another.author').append(', <input class="author" type="text" name="author" value=""> ');
		i =+ 1;
	});

	$('input#export').click(function(e){
		e.preventDefault();
		if(filename != ''){
			var name = $(this).attr('name');
			var cgi = 'export.cgi';
			var results = $('#results').html();
			var source = $('#source').val();
			var filename = $('#filename').val();
			var title = $('#titled').val();
			author = '';
			$('input.author').each(function(){
				if(author != ''){
					author = author + ', ' +($(this).val());
				}
				else{
					author = $(this).val();
				}
			});
			$.ajax({
				url: cgi,
				method: "post",
				data: {
					filename : filename,
					title : title,
					source : source,
					author : author,
					results : results
				},
				dataType: "html",
				success: function(){
					window.location.hash = 'export';
					$('input#state').val('export');
					if(name == 'html'){
						var win = window.open('/output/html/'+filename+'.html', '_blank');
					}
					if(name == 'pdf'){
						var win = window.open('/output/pdf/'+filename+'.pdf', '_blank');
					}
					if (win) {
						win.focus();
					} else {
						alert('Please allow popups for this website');
					}
				}
			})
		}
		else{
			alert('Please enter a filename.');
		}
	});

</script>
</html>